<app-cms-guide-notice [Key]="'customerorder.content.list'" [svg]="'assets/media/svg/icons/General/Notifications1.svg'">
</app-cms-guide-notice>

<app-cms-html-list [optionLoading]="loading" [optionTreeDisplay]="true && optionloadByRoute">
  <ng-container cms-tree>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-tree-->
    <app-estate-customer-category-tree [(optionLoading)]="loading" (optionChange)="onActionSelectorSelect($event)">
    </app-estate-customer-category-tree>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-tree-->
  </ng-container>
  <ng-container cms-header>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </ng-container>
  <ng-container cms-action>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-action-->
    <button *ngIf="optionloadByRoute && dataModelResult.access.accessAddRow   " (click)="onActionbuttonNewRow($event)"
      type="button" class="btn box-shadow-button btn-outline-primary BTN-text" id="openModalButton" data-toggle="modal"
      data-target="#categoryModal">{{'ACTION.ADD' |
      translate}}</button>
    <button
      *ngIf="optionloadByRoute && dataModelResult.access.accessAddRow   && tableRowSelected?.id &&  tableRowSelected?.id?.length>0"
      (click)="onActionbuttonCopyNewRow(tableRowSelected,$event)" type="button"
      class="btn box-shadow-button btn-outline-primary BTN-text" id="openModalButton" data-toggle="modal"
      data-target="#categoryModal">{{'ACTION.COPY' |
      translate}}</button>
    <button
      *ngIf="optionloadByRoute && dataModelResult.access.accessEditRow   && tableRowSelected.id &&  tableRowSelected?.id?.length>0"
      (click)="onActionbuttonEditRow(tableRowSelected,$event)" type="button"
      class="btn box-shadow-button btn-outline-warning BTN-text" data-toggle="modal"
      data-target="#categoryModal">{{'ACTION.EDIT' | translate}}</button>
    <button
      *ngIf="optionloadByRoute && dataModelResult.access.accessDeleteRow   && tableRowSelected.id &&  tableRowSelected?.id?.length>0"
      (click)="onActionbuttonDeleteRow()" type="button"
      class="btn box-shadow-button btn-outline-danger BTN-text">{{'ACTION.DELETE' |
      translate}}</button>

    <a class="btn box-shadow-button btn-outline-info btn-sm BTN-text">
      <mat-slide-toggle [(ngModel)]="optionsSearch.data.show">{{'ACTION.SEARCH' | translate}}</mat-slide-toggle>
    </a>

    <a class="btn box-shadow-button btn-outline-info btn-sm BTN-text">
      <mat-slide-toggle (click)="onActionbuttonStatist()">{{'ACTION.STATIST' | translate}}
      </mat-slide-toggle>
    </a>
    <button (click)="onActionbuttonExport()" type="button" class="btn box-shadow-button btn-outline-secondary BTN-icon">
      <mat-icon style="font-size: 20px;margin: -11px;"
        title="{{'ACTION.EXPORTFILE' | translate}}">cloud_download</mat-icon>
    </button>
    <button (click)="onActionButtonPrintEntity()" *ngIf="tableRowSelected?.id?.length>0" type="button"
      class="btn box-shadow-button btn-outline-secondary BTN-icon">
      <mat-icon style="font-size: 20px;margin: -11px;" title="{{'ACTION.PRINT' | translate}}">print</mat-icon>
    </button>
    <a class="btn box-shadow-button btn-outline-info btn-sm BTN-text box-shadow-button"
      *ngIf="!this.requestLinkPropertyId|| this.requestLinkPropertyId.length===0">
      <mat-slide-toggle (click)="onActionbuttonInResponsible(!searchInResponsible)"
        [checked]="searchInResponsibleChecked">
        {{'ACTION.InResponsible' | translate}}
      </mat-slide-toggle>
    </a>
    <button (click)="onActionbuttonReload()" type="button" class="btn box-shadow-button btn-outline-secondary BTN-icon">
      <mat-icon style="font-size: 20px;margin: -11px;" title="{{'ACTION.RELOAD' | translate}}">refresh</mat-icon>
    </button>
    <button (click)="onActionGridExpandRows(true)" class="btn box-shadow-button btn-outline-success BTN-icon">
      <mat-icon style="font-size: 20px;margin: -11px;" title="{{'ACTION.EXPAND_ALL' | translate}}">unfold_more_double
      </mat-icon>
    </button>
    <button (click)="onActionGridExpandRows(false)" class="btn box-shadow-button btn-outline-success BTN-icon">
      <mat-icon style="font-size: 20px;margin: -11px;" title="{{'ACTION.COLLPASE_ALL' |translate}}">
        unfold_less_double</mat-icon>
    </button>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-action-->
  </ng-container>
  <ng-container cms-action-area>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-action-area-->
    <app-cms-search-list [(options)]="optionsSearch">
      <hr>
      <p>{{'MESSAGE.Content_of_your_choice_to_display' | translate}}</p>
      <!-- caseCode Field -->
      <mat-form-field class="ntk-full-width">
        <mat-label>{{fieldsInfo['caseCode']?.fieldTitle}}</mat-label>
        <input (input)="onSearchCaseCodeChange($event.target.value)" matInput [(ngModel)]="filteModelContent.caseCode"
          name="filteModelContent.caseCode" #caseCode type="text" placeholder="{{fieldsInfo['caseCode']?.fieldTitle}}"
          step="1" />
        <mat-icon matPrefix *ngIf="filteModelContent.caseCode" matPrefix mat-icon-button aria-label="Clear"
          (click)="filteModelContent.caseCode = ''"> close</mat-icon>
        <mat-icon matPrefix> mode_edit</mat-icon>
        <mat-hint align="start">
          <mat-icon matSuffix class="info-field-icon">{{'TITLE.info' | translate}}</mat-icon>
          <strong class="info-field-text">{{fieldsInfo['caseCode']?.fieldDescription}}</strong>
        </mat-hint>
      </mat-form-field>
      <div *ngIf="!filteModelContent.caseCode ||filteModelContent.caseCode.length === 0">
        <P>{{'MESSAGE.Selecting_any_of_the_following_will_make_the_search_results_range_smaller' | translate}}
        </P>
        <!-- LinkLocationIds Field -->
        <app-cms-location-autocomplete (optionChange)="onActionSelectorLocation($event)" [(optionLoading)]="loading"
          [optionPlaceholder]="this.translate.instant('TITLE.Region')">
        </app-cms-location-autocomplete>
        <hr>
        <!-- LinkPropertyTypeUsageId Field -->
        <app-estate-property-type-usage-selector (optionChange)="onActionSelectorSelectUsage($event)"
          [optionTypeView]="2" [(optionLoading)]="loading"
          [optionPlaceholder]="this.translate.instant('TITLE.Type_Usage')">
          <mat-icon matSuffix
            *ngIf="filteModelContent.linkPropertyTypeUsageId && filteModelContent.linkPropertyTypeUsageId?.length>0"
            matSuffix mat-icon-button aria-label="Clear" (click)="filteModelContent.linkPropertyTypeUsageId = null;">
            close
          </mat-icon>
        </app-estate-property-type-usage-selector>
        <br>
        <br>
        <br>
        <!-- LinkPropertyTypeLanduseId Field -->
        <app-estate-property-type-landuse-selector (optionChange)="onActionSelectorSelectLanduse($event)"
          [optionTypeView]="2" [(optionLoading)]="loading"
          [optionPlaceholder]="this.translate.instant('TITLE.Property_type')">

          <mat-icon matSuffix
            *ngIf="filteModelContent.linkPropertyTypeLanduseId && filteModelContent.linkPropertyTypeLanduseId?.length>0"
            matSuffix mat-icon-button aria-label="Clear" (click)="onActionSelectorSelectLanduse(null)">
            close
          </mat-icon>
        </app-estate-property-type-landuse-selector>

        <br>
        <br>
        <br>
        <!-- LinkContractTypeIds Field -->
        <app-estate-contract-type-selector (optionChange)="onActionSelectorContarctType($event)" [optionTypeView]="2"
          [(optionLoading)]="loading" [optionPlaceholder]="this.translate.instant('TITLE.Transaction_type')">
          <mat-icon matSuffix
            *ngIf="filteModelContent.linkContractTypeId && filteModelContent.linkContractTypeId?.length>0" matSuffix
            mat-icon-button aria-label="Clear" (click)="filteModelContent.linkContractTypeId = null;"> close
          </mat-icon>
        </app-estate-contract-type-selector>

        <br>
        <br>
        <br>
        <!-- CreatedYaer Field -->
        <mat-form-field class="ntk-full-width"
          *ngIf="this.filteModelContent.linkPropertyTypeLanduseId && PropertyTypeSelected?.titleCreatedYaer?.length>1">
          <mat-label>{{PropertyTypeSelected.titleCreatedYaer}}</mat-label>
          <input matInput [(ngModel)]="filteModelContent.createdYaer" name="filteModelContent.createdYaer" #CreatedYaer
            type="number" placeholder="{{fieldsInfo['createdYaer']?.fieldTitle}}" />
          <mat-icon matPrefix *ngIf="filteModelContent.createdYaer" matPrefix mat-icon-button aria-label="Clear"
            (click)="filteModelContent.createdYaer = null"> close</mat-icon>
          <mat-icon matPrefix> mode_edit</mat-icon>
        </mat-form-field>
        <!-- Partition Field -->
        <mat-form-field class="ntk-full-width"
          *ngIf="this.filteModelContent.linkPropertyTypeLanduseId && PropertyTypeSelected?.titlePartition?.length>1">
          <mat-label>{{PropertyTypeSelected.titlePartition}}</mat-label>
          <input matInput [(ngModel)]="filteModelContent.partition" name="filteModelContent.partition" #Partition
            type="number" placeholder="{{PropertyTypeSelected.titlePartition}}" />
          <mat-icon matPrefix *ngIf="filteModelContent.partition" matPrefix mat-icon-button aria-label="Clear"
            (click)="filteModelContent.partition = 0"> close</mat-icon>
          <mat-icon matPrefix> mode_edit</mat-icon>
        </mat-form-field>
        <!-- Area Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['area']?.accessWatchField">
          <mat-label>{{fieldsInfo['area']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="filteModelContent.area" name="filteModelContent.area" #Area type="text"
            currencyMask class="input-ltr" pattern="(d{3})" placeholder="{{fieldsInfo['area']?.fieldTitle}}"
            step="10" />
          <mat-icon matPrefix *ngIf="filteModelContent.area" matPrefix mat-icon-button aria-label="Clear"
            (click)="filteModelContent.area = 0"> close</mat-icon>
          <mat-icon matPrefix> mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">{{'TITLE.info' | translate}}</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['area']?.fieldDescription}}</strong>
          </mat-hint>
        </mat-form-field>

        <hr>
        <!-- linkCoreCurrencyId Field -->
        <app-cms-currency-selector [optionSelectFirstItem]="true"
          [optionSelectForce]="filteModelContent.linkCoreCurrencyId" (optionChange)="onActionSelectCurrency($event)"
          [(optionLoading)]="loading"
          [optionPlaceholder]="this.translate.instant('TITLE.Specify_the_transaction_currency')">
        </app-cms-currency-selector>
        <div class="row" style="direction: rtl;">
          <div class="col-md-6 col-sm-6 col-xs-9">
            <!-- SalePriceMin Field -->
            <mat-form-field class="ntk-full-width" *ngIf=" contractTypeSelected?.hasSalePrice">
              <mat-label>{{'TITLE.SalePriceMin' | translate}} </mat-label>
              <input matInput [(ngModel)]="filteModelContent.salePriceMin" name="filteModelContent.salePriceMin"
                #SalePriceMin type="text" currencyMask class="input-ltr-center" step="1000000" />
              <mat-icon matPrefix *ngIf="filteModelContent.salePriceMin" matPrefix mat-icon-button aria-label="Clear"
                (click)="filteModelContent.salePriceMin = 0"> close</mat-icon>
              <mat-icon matPrefix> mode_edit</mat-icon>
            </mat-form-field>
            <!-- RentPriceMin Field -->
            <mat-form-field class="ntk-full-width" *ngIf="contractTypeSelected?.hasRentPrice">
              <mat-label>{{'TITLE.RentPriceMin' | translate}}</mat-label>
              <input matInput [(ngModel)]="filteModelContent.rentPriceMin" name="filteModelContent.rentPriceMin"
                #RentPriceMin type="text" currencyMask class="input-ltr-center" step="1000000" />
              <mat-icon matPrefix *ngIf="filteModelContent.rentPriceMin" matPrefix mat-icon-button aria-label="Clear"
                (click)="filteModelContent.rentPriceMin = 0"> close</mat-icon>
              <mat-icon matPrefix> mode_edit</mat-icon>
            </mat-form-field>
            <!-- DepositPriceMin Field -->
            <mat-form-field class="ntk-full-width" *ngIf=" contractTypeSelected?.hasDepositPrice">
              <mat-label>{{'TITLE.DepositPriceMin' | translate}} </mat-label>
              <input matInput [(ngModel)]="filteModelContent.depositPriceMin" name="filteModelContent.depositPriceMin"
                #DepositPriceMin type="text" currencyMask class="input-ltr-center" step="1000000" />
              <mat-icon matPrefix *ngIf="filteModelContent.depositPriceMin" matPrefix mat-icon-button aria-label="Clear"
                (click)="filteModelContent.depositPriceMin = 0"> close</mat-icon>
              <mat-icon matPrefix> mode_edit</mat-icon>
            </mat-form-field>
            <!-- PeriodPriceMin Field -->
            <mat-form-field class="ntk-full-width" *ngIf=" contractTypeSelected?.hasDepositPrice">
              <mat-label>{{'TITLE.PeriodPriceMin' | translate}} </mat-label>
              <input matInput [(ngModel)]="filteModelContent.periodPriceMin" name="filteModelContent.periodPriceMin"
                #PeriodPriceMin type="text" currencyMask class="input-ltr-center" step="1000000" />
              <mat-icon matPrefix *ngIf="filteModelContent.periodPriceMin" matPrefix mat-icon-button aria-label="Clear"
                (click)="filteModelContent.periodPriceMin = 0"> close</mat-icon>
              <mat-icon matPrefix> mode_edit</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-9">
            <!-- SalePriceMax Field -->
            <mat-form-field class="ntk-full-width" *ngIf=" contractTypeSelected?.hasSalePrice">
              <mat-label> {{'TITLE.SalePriceMax' | translate}}</mat-label>
              <input matInput [(ngModel)]="filteModelContent.salePriceMax" name="filteModelContent.salePriceMax"
                #SalePriceMax type="text" currencyMask class="input-ltr-center" step="1000000" />
              <mat-icon matPrefix *ngIf="filteModelContent.salePriceMax" matPrefix mat-icon-button aria-label="Clear"
                (click)="filteModelContent.salePriceMax = 0"> close</mat-icon>
              <mat-icon matPrefix> mode_edit</mat-icon>
            </mat-form-field>
            <!-- RentPriceMax Field -->
            <mat-form-field class="ntk-full-width" *ngIf="contractTypeSelected?.hasRentPrice">
              <mat-label>{{'TITLE.RentPriceMax' | translate}} </mat-label>
              <input matInput [(ngModel)]="filteModelContent.rentPriceMax" name="filteModelContent.rentPriceMax"
                #RentPriceMax type="text" currencyMask class="input-ltr-center" step="1000000" />
              <mat-icon matPrefix *ngIf="filteModelContent.rentPriceMax" matPrefix mat-icon-button aria-label="Clear"
                (click)="filteModelContent.rentPriceMax = 0"> close</mat-icon>
              <mat-icon matPrefix> mode_edit</mat-icon>
            </mat-form-field>
            <!-- DepositPriceMax Field -->
            <mat-form-field class="ntk-full-width" *ngIf="contractTypeSelected?.hasDepositPrice">
              <mat-label>{{'TITLE.DepositPriceMax' | translate}}</mat-label>
              <input matInput [(ngModel)]="filteModelContent.depositPriceMax" name="filteModelContent.depositPriceMax"
                #DepositPriceMax type="text" currencyMask class="input-ltr-center" step="1000000" />
              <mat-icon matPrefix *ngIf="filteModelContent.depositPriceMax" matPrefix mat-icon-button aria-label="Clear"
                (click)="filteModelContent.depositPriceMax = 0"> close</mat-icon>
              <mat-icon matPrefix> mode_edit</mat-icon>
            </mat-form-field>
            <!-- PeriodPriceMax Field -->
            <mat-form-field class="ntk-full-width" *ngIf="contractTypeSelected?.hasDepositPrice">
              <mat-label>{{'TITLE.PeriodPriceMax' | translate}} </mat-label>
              <input matInput [(ngModel)]="filteModelContent.periodPriceMax" name="filteModelContent.periodPriceMax"
                #PeriodPriceMax type="text" currencyMask class="input-ltr-center" step="1000000" />
              <mat-icon matPrefix *ngIf="filteModelContent.periodPriceMax" matPrefix mat-icon-button aria-label="Clear"
                (click)="filteModelContent.periodPriceMax = 0"> close</mat-icon>
              <mat-icon matPrefix> mode_edit</mat-icon>
            </mat-form-field>
          </div>
          <mat-accordion class="example-headers-align">
            <mat-expansion-panel *ngFor="let itemGroup of dataModelPropertyDetailGroups ; index as i"
              [expanded]="step === i" (opened)="setStep(i)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{itemGroup.title}}
                </mat-panel-title>
                <mat-panel-description>
                  {{itemGroup.description}}
                  <mat-icon style="width: 100px;">{{itemGroup.iconFont}}</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <!-- value-->
              <ng-container *ngFor="let itemDetail of itemGroup.propertyDetails">
                <ng-container [ngSwitch]="itemDetail.inputDataType">
                  <!-- ngSwitchCase-->
                  <div *ngSwitchCase="enumInputDataType.String" class="ntk-full-width">
                    <i [ngClass]="itemDetail.iconFont" [style.color]="itemDetail.iconColor"
                      aria-hidden="true"></i>&nbsp;
                    <app-input-string [(model)]="propertyDetails[itemDetail.id]"
                      [optionForceUseDefaultValue]="itemDetail.configValueForceUseDefaultValue"
                      [optionMultipleChoice]="itemDetail.configValueMultipleChoice"
                      [optionDefaultValue]="itemDetail.configValueDefaultValues" [optionRequired]="itemDetail.required"
                      [optionTitle]="itemDetail.title" style="color:'{{itemDetail.iconColor}}';">
                    </app-input-string>
                  </div>
                  <!-- ngSwitchCase-->
                  <div *ngSwitchCase="enumInputDataType.Int" class="ntk-full-width">
                    <i [ngClass]="itemDetail.iconFont" [style.color]="itemDetail.iconColor"
                      aria-hidden="true"></i>&nbsp;
                    <app-input-int [(model)]="propertyDetails[itemDetail.id]" [optionRequired]="itemDetail.required"
                      [optionTitle]="itemDetail.title" style="color:'{{itemDetail.iconColor}}';">
                    </app-input-int>
                  </div>
                  <!-- ngSwitchCase-->
                  <div *ngSwitchCase="enumInputDataType.Boolean" class="ntk-full-width">
                    <i [ngClass]="itemDetail.iconFont" [style.color]="itemDetail.iconColor"
                      aria-hidden="true"></i>&nbsp;
                    <app-input-boolean [(model)]="propertyDetails[itemDetail.id]">{{itemDetail.title}}
                    </app-input-boolean>
                  </div>
                  <!-- ngSwitchCase-->
                  <div *ngSwitchCase="enumInputDataType.Float" class="ntk-full-width">
                    <i [ngClass]="itemDetail.iconFont" [style.color]="itemDetail.iconColor"
                      aria-hidden="true"></i>&nbsp;
                    <app-input-float [(model)]="propertyDetails[itemDetail.id]" [optionRequired]="itemDetail.required"
                      [optionTitle]="itemDetail.title" style="color:'{{itemDetail.iconColor}}';">
                    </app-input-float>
                  </div>
                  <!-- ngSwitchCase-->
                  <div *ngSwitchCase="enumInputDataType.Date" class="ntk-full-width">
                    <i [ngClass]="itemDetail.iconFont" [style.color]="itemDetail.iconColor"
                      aria-hidden="true"></i>&nbsp;
                    <label style="color:'{{itemDetail.iconColor}}';">{{itemDetail.title}}</label>
                    <app-input-date [(model)]="propertyDetails[itemDetail.id]" [optionRequired]="itemDetail.required">
                    </app-input-date>
                  </div>
                  <!-- ngSwitchCase-->
                  <div *ngSwitchCase="enumInputDataType.TextArea" class="ntk-full-width">
                    <i [ngClass]="itemDetail.iconFont" [style.color]="itemDetail.iconColor"
                      aria-hidden="true"></i>&nbsp;
                    <app-input-textarea [(model)]="propertyDetails[itemDetail.id]"
                      [optionRequired]="itemDetail.required" [optionTitle]="itemDetail.title"
                      style="color:'{{itemDetail.iconColor}}';">
                    </app-input-textarea>
                  </div>
                  <!-- ngSwitchCase-->
                  <div *ngSwitchDefault class="ntk-full-width">
                    <i [ngClass]="itemDetail.iconFont" [style.color]="itemDetail.iconColor"
                      aria-hidden="true"></i>&nbsp;
                    <app-input-string [(model)]="propertyDetails[itemDetail.id]"
                      [optionForceUseDefaultValue]="itemDetail.configValueForceUseDefaultValue"
                      [optionMultipleChoice]="itemDetail.configValueMultipleChoice"
                      [optionDefaultValue]="itemDetail.configValueDefaultValues" [optionRequired]="itemDetail.required"
                      [optionTitle]="itemDetail.title" style="color:'{{itemDetail.iconColor}}';">
                    </app-input-string>
                  </div>
                </ng-container>
              </ng-container>
              <mat-action-row>
                <button mat-button type="button" color="warn" *ngIf="i>0" (click)="prevStep()">{{'ACTION.PREVIOUS' |
                  translate}}</button>
                <button mat-button type="button" color="primary" *ngIf="(i+1)<dataModelPropertyDetailGroups.length"
                  (click)="nextStep()">{{'ACTION.NEXT' | translate}}</button>
                <button mat-button type="button" color="primary" *ngIf="(i+1)===dataModelPropertyDetailGroups.length"
                  (click)="nextStep()">{{'ACTION.END' | translate}}</button>

              </mat-action-row>
            </mat-expansion-panel>
            <br>

          </mat-accordion>
        </div>
      </div>
    </app-cms-search-list>

    <app-cms-statist-list [(options)]="optionsStatist"></app-cms-statist-list>

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-action-area-->
  </ng-container>
  <ng-container cms-body>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <mat-table class="ntk-cms-html-table" [dataSource]="tableSource" matSort #tableSort="matSort"
      (matSortChange)="onTableSortData(tableSort)" multiTemplateDataRows>

      <!-- ID Column -->
      <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="form-label"> {{fieldsInfo['id']?.fieldTitle}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>
      <!-- LinkSiteId Column -->
      <ng-container matColumnDef="LinkSiteId">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="form-label"> {{fieldsInfo['linkSiteId']?.fieldTitle}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.linkSiteId | cmssiteinfo |async}} </mat-cell>
      </ng-container>
      <!-- RecordStatus Column -->
      <ng-container matColumnDef="RecordStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="form-label">
          {{fieldsInfo['recordStatus']?.fieldTitle}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="row.recordStatus|statusCellClass"> <i
            [ngClass]="row.recordStatus|statusIconClass"></i>
          <select matNativeControl cmsRecordStatusSelfSave *ngIf="dataModelResult.access.accessEditRow"
            [contentService]="contentService" [row]="row" style="background: none; border: none;"
            [ngStyle]="{'display': row.id === tableRowSelected.id ? '' : 'none' }">
          </select>
        </mat-cell>
      </ng-container>
      <!-- Title Column -->
      <ng-container matColumnDef="Title">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="form-label"> {{fieldsInfo['title']?.fieldTitle}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
      </ng-container>


      <!-- CreatedDate Column -->
      <ng-container matColumnDef="CreatedDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="form-label"> {{fieldsInfo['createdDate']?.fieldTitle}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ publicHelper.LocaleDateTime(row.createdDate)}} </mat-cell>
      </ng-container>
      <!-- scoreRushToBuy Column -->
      <ng-container matColumnDef="scoreRushToBuy">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="form-label">
          {{fieldsInfo['scoreRushToBuy']?.fieldTitle}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="'score-'+row.scoreRushToBuy">
          {{row.scoreRushToBuy}}
        </mat-cell>
      </ng-container>
      <!-- scorePurchaseDecision Column -->
      <ng-container matColumnDef="scorePurchaseDecision">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="form-label">
          {{fieldsInfo['scorePurchaseDecision']?.fieldTitle}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="'score-'+row.scorePurchaseDecision">
          {{row.scorePurchaseDecision}}
        </mat-cell>
      </ng-container>
      <!-- scoreLiquidityPower Column -->
      <ng-container matColumnDef="scoreLiquidityPower">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="form-label">
          {{fieldsInfo['scoreLiquidityPower']?.fieldTitle}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="'score-'+row.scoreLiquidityPower">
          {{row.scoreLiquidityPower}}
        </mat-cell>
      </ng-container>
      <!-- scorePurchasingPower Column -->
      <ng-container matColumnDef="scorePurchasingPower">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="form-label">
          {{fieldsInfo['scorePurchasingPower']?.fieldTitle}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="'score-'+row.scorePurchasingPower">
          {{row.scorePurchasingPower}}
        </mat-cell>
      </ng-container>
      <!-- UpdatedDate Column -->
      <ng-container matColumnDef="UpdatedDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="form-label"> {{fieldsInfo['updatedDate']?.fieldTitle}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ publicHelper.LocaleDateTime(row.updatedDate) }}
        </mat-cell>
      </ng-container>
      <!-- CaseCode Column -->
      <ng-container matColumnDef="CaseCode">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="form-label"> {{fieldsInfo['caseCode']?.fieldTitle}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.caseCode}} </mat-cell>
      </ng-container>
      <!-- Action Column -->
      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef class="form-label"> {{'TITLE.OPTION' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let row" class=' Action'>

          <!-- Action Menu -->
          <button mat-icon-button [matMenuTriggerFor]="actionMenu" aria-label="Action Menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #actionMenu="matMenu">
            <button mat-menu-item (click)="onActionbuttonEditRow(row,$event)"
              *ngIf="dataModelResult.access.accessEditRow">
              <mat-icon>mode_edit</mat-icon>
              <span>{{'ACTION.EDIT' | translate}}</span>
            </button>
            <button mat-menu-item (click)="onActionbuttonDeleteRow(row)" *ngIf="dataModelResult.access.accessDeleteRow">
              <mat-icon>delete_forever</mat-icon>
              <span>{{'ACTION.DELETE' | translate}}</span>
            </button>
            <button mat-menu-item (click)="onActionbuttonQuickHistoryAddRow(row)">
              <span>{{'ACTION.HISTORY_ADD' | translate}}</span>
              <mat-icon>history</mat-icon>
            </button>
            <button mat-menu-item (click)="onActionbuttonHistoryRow(row,$event)">
              <mat-icon>history</mat-icon>
              <span>{{'ACTION.HISTORY_LIST' | translate}}</span>
            </button>
            <button mat-menu-item (click)="onActionbuttonContentList(row,$event)">
              <mat-icon>list</mat-icon>
              <span>{{'ACTION.THEPROPERTY_INCLUDESVIEWS' | translate}}</span>
            </button>
            <button mat-menu-item (click)="onActionbuttonOpenCustomerOrder(row)">
              <mat-icon>slideshow</mat-icon>
              <span>{{'ACTION.DISPLAYCLIENTPAGE' | translate}}</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <!-- LinkTo Column -->
      <ng-container matColumnDef="LinkTo">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="form-label"> {{'TITLE.LINKTO' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="onActionbuttonLinkTo(row)">
            <mat-icon>&#8599;</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <!--expandedDetail-->
      <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let row">
          <div>
            <table>
              <tr>
                <th> <img *ngIf="row?.linkMainImageIdSrc?.length>0" style="vertical-align:middle;"
                    class="ntk-hover-zoom" aria-hidden src="{{row.linkMainImageIdSrc | cmsthumbnail}}" height="80"
                    width="80" /></th>
                <th>
                  <span class="navi-icon pointer" [cdkCopyToClipboard]="row.id" (click)="onActionCopied()">
                    <i class="flaticon2-copy"></i></span> {{row.id}}

                </th>
              </tr>
              <tr>
                <td></td>
                <td>{{fieldsInfo['title']?.fieldTitle}} : {{row.title}} </td>
              </tr>
              <tr *ngIf="row.description">
                <td></td>
                <td>{{fieldsInfo['description']?.fieldTitle}} : {{row.description}} </td>
              </tr>
              <tr *ngIf="fieldsInfo['descriptionHidden']?.accessWatchField">
                <td></td>
                <td>{{'TITLE.Description_Hidden' | translate}} : {{row.descriptionHidden}} </td>
              </tr>
              <tr *ngIf="fieldsInfo['contactMobiles']?.accessWatchField">
                <td></td>
                <td>{{'TITLE.Contact_Mobiles' | translate}} : {{row.contactMobiles}} </td>
              </tr>
              <tr>
                <td></td>
                <td class="input-Mobile"> {{row.createdBy | cmsuserinfo |async}} </td>
              </tr>
              <tr>
                <td></td>
                <td>

                  <a (click)="onActionbuttonEditRow(row,$event)" *ngIf="dataModelResult.access.accessEditRow"
                    class="link-primary pointer">
                    {{'ACTION.EDIT' | translate}} </a>|

                  <a (click)="onActionbuttonDeleteRow(row)" *ngIf="dataModelResult.access.accessDeleteRow"
                    class="link-primary pointer">
                    {{'ACTION.DELETE' | translate}} </a>|

                  <a (click)="onActionbuttonContentList(row)" class="link-primary pointer">
                    {{'ACTION.THEPROPERTY_INCLUDESVIEWS' |
                    translate}} </a>|

                  <a (click)="onActionbuttonOpenCustomerOrder(row)" class="link-primary pointer">
                    {{'ACTION.DISPLAYCLIENTPAGE' | translate}} </a>

                </td>
              </tr>

            </table>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="tabledisplayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tabledisplayedColumns;" (click)="onActionTableRowMouseClick(row)"
        (mouseenter)="onActionTableRowMouseEnter(row)" (mouseleave)="onActionTableRowMouseLeave(row)"
        [ngStyle]="{'background': row.id === tableRowSelected.id ? '#d3d3da' : '' }">
      </mat-row>
      <mat-row *matRowDef="let row; columns: ['expandedDetail']" (click)="onActionTableRowMouseClick(row)"
        (mouseenter)="onActionTableRowMouseEnter(row)" (mouseleave)="onActionTableRowMouseLeave(row)"
        [ngStyle]="{'background': row.id === tableRowSelected.id ? '#d3d3da' : '', 'display': row.expanded === true ? '' : 'none' }">
      </mat-row>
    </mat-table>

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </ng-container>
  <ng-container cms-footer>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

    <mat-paginator #paginator [length]="(dataModelResult.totalRowCount)"
      [pageIndex]="(dataModelResult.currentPageNumber-1)" [pageSize]="dataModelResult.rowPerPage"
      [pageSizeOptions]="[5, 10, 20, 100]" (page)="onTablePageingData($event)"></mat-paginator>

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </ng-container>
</app-cms-html-list>