<div class="card card-style">
  <div class="content">
    <h5 class="font-14 opacity-50">
      <a routerLink="/estate/property/add" routerLinkActive="active">{{widgetInfoModel.title}}</a>
      <a routerLink="/estate/property" routerLinkActive="active" *ngIf="rowExist" class="float-end color-highlight">
        {{widgetInfoModel.description}}</a>
    </h5>
    <div class="divider mb-3"></div>
    <!-- <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
      [responsive]="chartOptions.responsive"></apx-chart> -->
    <div class="list-group list-custom-small list-menu ms-0 me-2">
      <a routerLink="/estate/property/InChecking/true" routerLinkActive="active"
        *ngIf="this.modelData.get('InChecking') && this.modelData.get('InChecking')>0" class="menu-active">
        <i class="fa fa-comment gradient-blue color-white"></i>
        <span>{{'TITLE.Number_of_rows_in_the_confirmation_queue' | translate}}</span>
        <span class="badge gradient-blue color-white">{{this.modelData.get('InChecking')}}</span>
        <i class="fa fa-angle-left"></i>
      </a>
    </div>
    <h5 class="font-14 opacity-50">
      <a routerLink="/estate/property/Action/quick-add" routerLinkActive="active"> {{'ACTION.QUICK_ADD' |translate}}</a>
    </h5>
  </div>
</div>