<div class="row mb-0">
  <div *ngFor="let item of dataListResult" class="col pe-2">
    <a href="#" (click)="onActionClickMenu(item)" data-back-button class="card card-style rounded-m me-0 p-3 mb-3">
      <i class="fa fa-home color-red-light font-40 icon-50"></i>
      <h4 class="pt-3">{{item.titleML}}</h4>
      <p class="font-11 mt-n2 mb-0 color-highlight">بازگشت به صفحات</p>
    </a>
  </div>
  <div class="col ps-2">
    <a href="#" data-back-button class="card card-style rounded-m ms-0  p-3 mb-3">
      <i class="fa fa-cog color-blue-light font-40 icon-50"></i>
      <h4 class="pt-3">المان ها</h4>
      <p class="font-11 mt-n2 mb-0 color-highlight">بلوک های قابل استفاده مجدد</p>
    </a>
  </div>
  <div class="w-100"></div>
  <div class="col pe-2">
    <a href="#" data-back-button class="card card-style rounded-m me-0 p-3 mb-3">
      <i class="fa fa-camera color-magenta-light font-40 icon-50"></i>
      <h4 class="pt-3">گالری</h4>
      <p class="font-11 mt-n2 mb-0 color-highlight">برای تصاویر شما</p>
    </a>
  </div>
  <div class="col ps-2">
    <a href="#" data-back-button class="card card-style rounded-m ms-0  p-3 mb-3">
      <i class="fa fa-image color-yellow-light font-40 icon-50"></i>
      <h4 class="pt-3">نمونه کار</h4>
      <p class="font-11 mt-n2 mb-0 color-highlight">برای پروژه های شما</p>
    </a>
  </div>
  <div class="w-100"></div>
  <div class="col pe-2">
    <a href="#" data-back-button class="card card-style rounded-m me-0 p-3 mb-3">
      <i class="fa fa-shopping-bag color-teal-light font-40 icon-50"></i>
      <h4 class="pt-3">فروشگاه</h4>
      <p class="font-11 mt-n2 mb-0 color-highlight">برای محصولات شما</p>
    </a>
  </div>
  <div class="col ps-2">
    <a href="#" data-back-button class="card card-style rounded-m ms-0  p-3 mb-3">
      <i class="fa fa-newspaper color-gray-dark font-40 icon-50"></i>
      <h4 class="pt-3">اخبار</h4>
      <p class="font-11 mt-n2 mb-0 color-highlight">برای مقالات شما</p>
    </a>
  </div>
  <div class="w-100"></div>
  <div class="col pe-2">
    <a href="#" data-back-button class="card card-style rounded-m me-0 p-3 mb-3">
      <i class="fa fa-file color-brown-light font-40 icon-50"></i>
      <h4 class="pt-3">صفحات</h4>
      <p class="font-11 mt-n2 mb-0 color-highlight">ضروری برای شما</p>
    </a>
  </div>
  <div class="col ps-2">
    <a href="#" data-back-button class="card card-style rounded-m ms-0  p-3 mb-3">
      <i class="fa fa-phone color-green-light font-40 icon-50"></i>
      <h4 class="pt-3">ارتباط</h4>
      <p class="font-11 mt-n2 mb-0 color-highlight">پیام خود را ارسال کنید</p>
    </a>
  </div>
</div>
