<div class="card card-style">
  <div class="content mb-0">
    <div class="row justify-content-center">
      <!--begin::Header-->
      <div class="col-12 pe-0" *ngIf="optionHeaderDisplay||optionActionDisplay">
        <ng-content *ngIf="optionHeaderDisplay" select="[cms-tree-header]"></ng-content>
        <ng-content *ngIf="optionActionDisplay" select="[cms-tree-action]"></ng-content>
      </div>
      <!--end::Header-->
      <hr *ngIf="optionHeaderDisplay||optionActionDisplay">
      <!--begin::Body-->
      <div class="col-12 pe-0">
        <p class="text-center">
          <ng-content select="[cms-tree-body]"></ng-content>
        </p>
      </div>
      <!--end::Body-->
      <!--begin::Footer-->
      <div class="col-12 pe-0" *ngIf="optionFooterDisplay">
        <p class="text-center">
          <ng-content select="[cms-tree-footer]"></ng-content>
        </p>
      </div>
      <!--end::Footer-->
    </div>
  </div>
</div>