<!--begin::Header-->
<div class="card card-style" *ngIf="optionHeaderDisplay ||optionActionDisplay">
  <div class="content mb-0">
    <div class="row justify-content-center">
      <div class="col-12 pe-0">
        <p class="text-center">
          <ng-content *ngIf="optionHeaderDisplay" select="[cms-tree-header]"></ng-content>
          <ng-content *ngIf="optionActionDisplay" select="[cms-tree-action]"></ng-content>
        </p>
      </div>
    </div>
  </div>
</div>
<!--end::Header-->
<!--begin::Body-->
<div class="card card-style">
  <div class="content mb-0">
    <div class="row justify-content-center">
      <div class="col-12 pe-0">
        <p class="text-center">
          <ng-content select="[cms-tree-body]"></ng-content>
        </p>
      </div>
    </div>
  </div>
</div>
<!--end::Body-->
<!--begin::Footer-->
<div class="card card-style" *ngIf="optionFooterDisplay">
  <div class="content mb-0">
    <div class="row justify-content-center">
      <div class="col-12 pe-0">
        <p class="text-center">
          <ng-content select="[cms-tree-footer]"></ng-content>
        </p>
      </div>
    </div>
  </div>
</div>
<!--end::Footer-->
