<div class="ntk-cms-html-card-header">
  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
  {{ formInfo.formTitle }}
  <button type="button" (click)="onActionNext()" *ngIf="requestNextItem&& requestNextItem?.id?.length>0"
    class="btn btn-light">
    <i class="ft-x"></i>
    < </button> <button type="button" (click)="onActionPervious()"
        *ngIf="requestPerviousItem&& requestPerviousItem?.id?.length>0" class="btn btn-light">
        <i class="ft-x"></i>
        >
      </button>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
</div>
<div class="ntk-cms-html-card-body" dir="rtl">
  <app-progress-spinner [options]="loading"> </app-progress-spinner>
  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->


  <table class="table table-striped">
    <tbody>

      <tr>
        <td>{{fieldsInfo['recordStatus']?.fieldTitle}}:</td>
        <td><i [ngClass]="dataModel.recordStatus|statusIconClass"></i></td>
      </tr>
      <tr>
        <td>{{fieldsInfo['title']?.fieldTitle}}:</td>
        <td>{{dataModel.title}}</td>
      </tr>
      <tr>
        <td><b> {{fieldsInfo['linkActivityTypeId']?.fieldTitle}}:</b></td>
        <td><b>{{dataModel.linkActivityTypeId}}</b></td>
      </tr>

      <tr *ngIf="dataModel.appointmentDateFrom">
        <td>{{fieldsInfo['appointmentDateFrom']?.fieldTitle}}:</td>
        <td>{{ publicHelper.LocaleDateTime(dataModel.appointmentDateFrom)}}</td>
      </tr>
      <tr *ngIf="dataModel.appointmentDateTo">
        <td>{{fieldsInfo['appointmentDateTo']?.fieldTitle}}:</td>
        <td>{{ publicHelper.LocaleDateTime(dataModel.appointmentDateTo)}}</td>
      </tr>
      <tr>
        <td>{{fieldsInfo['createdBy']?.fieldTitle}}:</td>
        <td>{{dataModel.createdBy| cmsuserinfo |async}}</td>
      </tr>
      <tr *ngIf="dataModel.updatedBy">
        <td>{{fieldsInfo['updatedBy']?.fieldTitle}}:</td>
        <td>{{dataModel.updatedBy| cmsuserinfo |async}}</td>
      </tr>
      <tr *ngIf="dataModel.linkEstateUserId?.length>0">
        <td>{{fieldsInfo['linkEstateUserId']?.fieldTitle}}:</td>
        <td>{{dataModel.linkEstateUserId|estateAccountUserInfo |async}}</td>
      </tr>
      <tr *ngIf="dataModel.linkEstateAgencyId?.length>0">
        <td>{{fieldsInfo['linkEstateAgencyId']?.fieldTitle}}:</td>
        <td>{{dataModel.linkEstateAgencyId|estateAccountAgencyInfo |async}}</td>
      </tr>
      <tr *ngIf="dataModel.linkPropertyId?.length>0">
        <td>{{fieldsInfo['linkPropertyId']?.fieldTitle}}:</td>
        <td>{{dataModel.linkPropertyId| estatePropertyInfo |async}}</td>
      </tr>
      <tr *ngIf="dataModel.linkCustomerOrderId?.length>0">
        <td>{{fieldsInfo['linkCustomerOrderId']?.fieldTitle}}:</td>
        <td>{{dataModel.linkCustomerOrderId|estateCustomerOrderInfo |async}}</td>
      </tr>
      <tr *ngIf="dataModel.description?.length>0">
        <td>{{'TITLE.General_Description' | translate}}:</td>
        <td>{{dataModel.description}}</td>
      </tr>
      <tr *ngIf="fieldsInfo['descriptionHidden']?.accessWatchField">
        <td>{{'TITLE.Description_Hidden' | translate}}:</td>
        <td>{{dataModel.descriptionHidden}}</td>
      </tr>
    </tbody>
  </table>

  <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
</div>
<div class="ntk-cms-html-card-message">
  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
  <div class="form-actions">
    <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
    <small class="form-text text-muted danger">{{ formInfo.formError }}
    </small>
  </div>
  <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
</div>
<div class="ntk-cms-html-card-footer">
  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

  <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
    <button type="button" (click)="onFormCancel()" class="btn btn-light">
      <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
    </button>
    <button type="button" (click)="onActionNext()" *ngIf="requestNextItem&& requestNextItem?.id?.length>0"
      class="btn btn-light">
      <i class="ft-x"></i>
      < </button> <button type="button" (click)="onActionPervious()"
          *ngIf="requestPerviousItem&& requestPerviousItem?.id?.length>0" class="btn btn-light">
          <i class="ft-x"></i>
          >
        </button>
  </div>
  <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
</div>