داشبورد

<div class="card card-style">
  <div class="content">
    <h4>نمایش محتوا بر اساس تم</h4>
    <p>
      بسته به حالت روشن یا تاریک می توانید محتوا را نشان دهید. برای مثال، در هدر، اگر به حالت تاریک بروید، نماد ماه به
      یک لامپ تبدیل می‌شود.
    </p>
  </div>
</div>

<div data-toggle-theme class="card card-style show-on-theme-light" data-card-height="150" style="height: 150px;">
  <div class="card-center text-center">
    <h3 class="color-white ps-3 mb-0">من در تم روشن نمایش داده میشوم</h3>
    <p class="ps-3 color-white opacity-50 mb-0">این کارت فقط در تم روشن نمایش داده می شود</p>
  </div>
  <div class="card-overlay bg-black opacity-80"></div>
</div>



<div data-toggle-theme class="card card-style show-on-theme-dark" data-card-height="150" style="height: 150px;">
  <div class="card-center text-center">
    <h3 class="ps-3 color-black mb-0">من در تم تاریک نمایش داده میشوم</h3>
    <p class="ps-3 color-black opacity-80 mb-0">این کارت فقط در تم تاریک نمایش داده می شود</p>
  </div>
  <div class="card-overlay bg-white opacity-80"></div>
</div>

ok
