<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div *ngIf="requestLinkParentId>0" class="col pe-2">
  <a [routerLink]="['/menu']" data-back-button class="card card-style rounded-m me-0 p-3 mb-3">
    <i class="fa fa-home color-red-light font-40 icon-50"></i>
    <h4 class="pt-3">بازگشت</h4>
    <p class="font-11 mt-n2 mb-0 color-highlight">بازگشت به صفحات</p>
  </a>
</div>
<div class="row mb-0">
  <ng-container *ngFor="let item of dataListResult;index as i">
    <div class="col pe-2" style="cursor: pointer;">
      <a (click)="onActionClickMenu(item)" class="card card-style rounded-m me-0 p-3 mb-3">
        <i class="{{item.icon}} font-40 icon-50" [style.color]="item.color?.length>0 ? item.color:'color-white'"></i>
        <h4 class="pt-3">{{item.titleML}}</h4>
        <p class="font-11 mt-n2 mb-0 color-highlight">:{{item.description}}</p>
      </a>
    </div>
    <div *ngIf="i%2>0" class="w-100"></div>
  </ng-container>
</div>