<div class="col-12  loader-container">
  <app-progress-spinner [optionsInfoAreaId]="constructorInfoAreaId"> </app-progress-spinner>
  <div *ngIf="requestLinkParentId>0">
    <a [routerLink]="['/menu']" data-back-button class="card card-style rounded-m me-0 p-3 mb-3">
      <i class="fa fa-home color-red-light font-40 icon-50"></i>
      <h4 class="pt-3">{{"AUTH.GENERAL.BACK_BUTTON"|translate}}</h4>
      <p class="font-11 mt-n2 mb-0 color-highlight"><span>{{"TABLE.BackToTop"|translate}}</span></p>
    </a>
  </div>
  <div class="row mb-0 " *ngIf="!this.tokenHelper.isMobile || requestLinkParentId === 0">
    <ng-container *ngFor="let item of dataPinListResult;index as i">
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-1">
        <div class="card card-style rounded-m me-0 p-2 mb-3">
          <i (click)="updateThemeMenuPinToggel(item.id)" class="fa fa-thumb-tack font-15 icon-15"
            [style.color]="publicHelper.themeService?.ThemeMenuPin[item.id] ? 'green':'gray'"
            style="cursor: pointer;position:absolute;top:15px;left:15px;"></i>
          <a (click)="onActionClickMenu(item,$event)" style="cursor: pointer;">
            <i class="{{item.icon}} font-20 icon-25"
              [style.color]="item.color?.length>0 ? item.color:'color-white'"></i>
            <p style="margin-bottom: 0px !important;">{{item['parentTitle']}}</p>
            <h6 class="pt-1">{{item.titleML}}</h6>
          </a>
        </div>
      </div>
      <!-- <div *ngIf="i%2>0" class="w-100"></div> -->
    </ng-container>
    <hr>
  </div>
  <div class="row mb-0">
    <ng-container *ngFor="let item of dataListResult;index as i">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="card card-style rounded-m me-0 p-3 mb-3">
          <i (click)="updateThemeMenuPinToggel(item.id)" class="fa fa-thumb-tack font-20 icon-20"
            [style.color]="publicHelper.themeService?.ThemeMenuPin[item.id] ? 'green':'gray'"
            style="cursor: pointer;position:absolute;top:15px;left:15px;"></i>

          <a (click)="onActionClickMenu(item,$event)" style="cursor: pointer;">
            <i class="{{item.icon}} font-40 icon-50"
              [style.color]="item.color?.length>0 ? item.color:'color-white'"></i>
            <p style="margin-bottom: 0px !important;">{{item['parentTitle']}}</p>
            <h4 class="pt-3">{{item.titleML}}</h4>
            <p class="font-11 mt-n2 mb-0 color-highlight">:{{item.description}}</p>
          </a>
        </div>

      </div>
      <!-- <div *ngIf="i%2>0" class="w-100"></div> -->
    </ng-container>
  </div>
  <div *ngIf="dataListResult?.length>8" class="content mt-5 mb-5">
    <a (click)="scrollToTop()" style="cursor: pointer;"
      class="back-to-top-badge bg-highlight color-white shadow-xl py-2"><span>{{"TABLE.BackToTop"|translate}}</span><i
        class="fa fa-caret-up"></i></a>
  </div>
</div>