<div class="menu menu-box-modal rounded-m menu-active"
  style="display: block; width: 350px; height: 320px;padding :20px">
  <div class="menu-title">
    <i class="fa fa-question-circle scale-box float-start me-3 ms-3 fa-3x mt-1 color-blue-dark"></i>
    <p class="color-highlight"> {{ data.title }}</p>
    <h1 class="font-20">مطمئنید؟</h1>
    <a class="close-menu" (click)="onDismiss()"><i class="fa fa-times-circle"></i></a>
  </div>
  <div class="content mt-0">
    <p class="pe-3" [innerHTML]="data.message">

    </p>
    <div class="row mb-0">
      <div class="col-6">
        <a class="btn close-menu btn-full btn-m bg-red-dark font-600 rounded-s" (click)="onDismiss()">{{
          data.btnCancelText }}</a>
      </div>
      <div class="col-6">
        <a class="btn close-menu btn-full btn-m bg-green-dark font-600 rounded-s" (click)="onConfirm()">{{
          data.btnConfirmText }}</a>
      </div>
    </div>
  </div>
</div>