<div class="card card-style loader-container">
  <app-progress-spinner [optionsInfoAreaId]="constructorInfoAreaId"> </app-progress-spinner>
  <div class="content">


    <div class="table">
      <div class="tr">
        <div class="td small-width">
          <span class="svg-icon svg-icon-3x svg-icon-primary"
            [inlineSVG]="'./assets/media/svg/icons/Communication/Flag.svg'"></span>
        </div>
        <div class="td large-width" style="color: darkblue;">
          <h5><b> {{'TITLE.Selected_Api_Number'|translate}} </b> </h5>
        </div>
        <div class="td" style="text-align: left;">
          <!-- *ngIf="dataModelResult?.item?.id" -->
        </div>
      </div>
      <div class="tr">
        <div class="td small-width"><b>{{fieldsInfo['id']?.fieldTitle}} </b>: </div>
        <div class="td large-width">{{dataModelResult?.item?.id}}</div>
        <div class="td"></div>

        <div style="clear: both;"></div>
      </div>
      <div class="tr">
        <div class="td small-width"><b>{{fieldsInfo['numberChar']?.fieldTitle}} </b>: </div>
        <div class="td large-width cell-ltr">{{dataModelResult?.item?.numberChar}}</div>
        <div class="td" style="text-align: left;">

        </div>
        <div style="clear: both;"></div>
      </div>
    </div>

  </div>
</div>
<div class="divider divider-margins"></div>