<div id="footer-bar" class="footer-bar-6">
  <a href="index-pages.html"><i class="fa fa-file"></i><span>صفحات</span></a>
  <a href="index-projects.html"><i class="fa fa-image"></i><span>پروژه ها</span></a>
  <a href="index.html" class="circle-nav active-nav"><i class="fa fa-home"></i><span>خانه</span></a>
  <a [routerLink]="['/menu']"><i class="fa fa-layer-group"></i><span>امکانات</span></a>
  <a (click)="themeStore?.dataMenu!=='menu-main' ? themeStore.dataMenu='menu-main':themeStore.dataMenu=''"><i
      class="fa fa-bars"></i><span>منو</span></a>
</div>
