<div class="row">

  <!-- <div *ngIf="optionTreeDisplay " class="menu menu-box-right rounded-0" [ngClass]="viewTree?'menu-active':''"> -->
  <div *ngIf="optionTreeDisplay"
    [ngClass]=" this.tokenHelper.isMobile?viewTree?'menu-active  menu menu-box-right rounded-0':'menu menu-box-right rounded-0':'col-xl-3'">
    <!--begin::tree-->
    <ng-content select="[cms-tree]"></ng-content>
    <!--end::tree-->
  </div>
  <div [ngClass]="optionTreeDisplay && !this.tokenHelper.isMobile ?'col-xl-9':'col-xl-12'">
    <div class="card card-style">
      <div class="content mb-0">
        <div class="row justify-content-center">
          <!--begin::Header-->
          <div class="col-12 pe-0" *ngIf="optionHeaderDisplay">
            <ng-content *ngIf="optionHeaderDisplay" select="[cms-header]"></ng-content>
            <ng-content select="[cms-action-header]"></ng-content>
          </div>

          <ng-content select="[cms-action-area]"></ng-content>
          <!--end::Header-->
          <hr *ngIf="optionHeaderDisplay||optionActionDisplay">
          <!--begin::Body-->
          <div class="col-12 pe-0" [ngClass]="optionClassBody" #topbody>
            <p class="text-center">
              <app-progress-spinner [options]="loading"> </app-progress-spinner>
              <ng-content select="[cms-body]"></ng-content>
            </p>
          </div>
          <!--end::Body-->
          <!--begin::Footer-->
          <div class="col-12 pe-0" *ngIf="optionFooterDisplay&& !loading?.display">
            <p class="text-center">
              <ng-content select="[cms-message]"></ng-content>
              <ng-content select="[cms-footer]"></ng-content>
            </p>
          </div>
          <!--end::Footer-->
        </div>
      </div>
    </div>
  </div>
</div>




<!--begin::cms-tree-->
<div *ngIf="optionTreeDisplay &&  this.tokenHelper.isMobile" class="content"
  style="position: fixed;top: 100px; left: 1px; z-index: 99; min-width: 30px!important;height:30px;margin:0px;">
  <div class="row">
    <div class="col-12">
      <a (click)="actionViewTree()" class="chip chip-s bg-gray-light" style="cursor: pointer;">
        <i class="fa fa-bars bg-green-dark color-white" [style.transform]="viewTree?'rotate(90deg)':'rotate(0deg)'"></i>
        <strong class="color-black font-400">{{optionCategoryTitle}}</strong>
      </a>
    </div>
  </div>
</div>
<!--end::cms-tree-->
<!--begin::cms-action-main-->
<div *ngIf="optionActionDisplay" class="content"
  style="position: fixed;top: 140px; left: 1px; z-index: 99; min-width: 30px!important;height:30px;margin:0px;">
  <div class="row">
    <div class="col-12">
      <a (click)="actionViewMenuMain()" class="chip chip-s bg-gray-light" style="cursor: pointer;">
        <i class="fa fa-bars bg-green-dark color-white"
          [style.transform]="viewMenuMain?'rotate(90deg)':'rotate(0deg)'"></i>
        <strong class="color-black font-400">{{optionTitle}}</strong>
      </a>
    </div>
  </div>
</div>
<!--end::cms-action-main-->
<!--begin::cms-action-row-->
<div *ngIf="optionActionRowDisplay" class="content"
  style="position: fixed;top: 180px; left: 1px; z-index: 99; min-width: 30px!important;height:30px;margin:0px;">
  <div class="row">
    <div class="col-12">
      <a (click)="actionViewMenuItemRow()" class="chip chip-s bg-gray-light" style="cursor: pointer;">
        <i class="fa fa-bars bg-green-dark color-white"
          [style.transform]="viewMenuItemRow?'rotate(90deg)':'rotate(0deg)'"></i>
        <strong class="color-black font-400">{{optionSelectRowItemTitle}}</strong>
      </a>
    </div>
  </div>
</div>
<!--end::cms-action-row-->


<!--begin::Show Menu Main-->
<div class="menu menu-box-modal rounded-m" [ngClass]="viewMenuMain?'menu-active':''"
  style="display: block; width: 350px; height: 320px;">
  <div class="menu-title">
    <p class="color-highlight">منو</p>
    <h1 *ngIf="optionTitle?.length>0">{{optionTitle}}</h1>
    <a (click)="actionViewMenuMain(false)" class="close-menu"><i class="fa fa-times-circle"></i></a>
  </div>
  <div class="divider divider-margins"></div>
  <!--begin::cms-action-->
  <div class="row text-center">
    <ng-content select="[cms-action]"></ng-content>
    <div class="col-4" *ngIf="optionOnActionbuttonMemo">
      <a type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
        (click)="onActionbuttonMemo()" target="_blank">
        <i class="fa-regular fa-file-lines font-22" style="color: #ffffff;"></i>
        <br>
      </a>
      <p class="font-11 text-center opacity-70">{{'ACTION.MEMO' |
        translate}}</p>
    </div>
  </div>
  <!--end::cms-action-->

</div>
<!--end:: Show Menu Main-->
<!--begin::Show Menu Row-->
<div class="menu menu-box-modal rounded-m" [ngClass]="viewMenuItemRow?'menu-active':''"
  style="display: block; width: 350px; height: 320px;">
  <div class="menu-title">
    <p class="color-highlight">منو ردیف انتخابی</p>
    <h1 *ngIf="optionSelectRowItemTitle?.length>0">{{optionSelectRowItemTitle}}</h1>
    <a (click)="actionViewMenuItemRow(false)" class="close-menu"><i class="fa fa-times-circle"></i></a>
  </div>
  <div class="divider divider-margins"></div>
  <!--begin::cms-action-row-->
  <div class="row text-center">
    <div *ngIf="optionOnActionbuttonPrintRow" class="col-4">
      <a type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
      (click)="onActionbuttonPrintRow()" target="_blank"><i class="fa-solid fa-print font-22"
      style="color: #ffffff;"></i><br>
    </a>
    <p class="font-11 text-center opacity-70">{{'ACTION.PRINT' |
        translate}}</p>
    </div>
    <div class="col-4" *ngIf="optionOnActionbuttonMemoRow">
      <a type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
      (click)="onActionbuttonMemoRow()" target="_blank">
      <i class="fa-regular fa-file-lines font-22" style="color: #ffffff;"></i>
      <br>
    </a>
    <p class="font-11 text-center opacity-70">{{'ACTION.MEMO' |
        translate}}</p>
    </div>
    <ng-content select="[cms-action-row]"></ng-content>
  </div>
  <!--end::cms-action-row-->
</div>
<!--end:: Show Menu Row-->