<div class="row">
  <div *ngIf="optionTreeDisplay && !this.tokenHelper.isMobile" [ngClass]="'col-xl-3'">
    <!--begin::tree-->
    <ng-container *ngTemplateOutlet="contentCmsTree"></ng-container>
    <!--end::tree-->
  </div>
  <div [ngClass]="optionTreeDisplay && !this.tokenHelper.isMobile ?'col-xl-9':'col-xl-12'">
    <div class="card card-style">
      <div class="content mb-0">
        <div class="row justify-content-center">
          <!--begin::Header-->
          <div class="col-12 pe-0" *ngIf="optionHeaderDisplay">
            <ng-content *ngIf="optionHeaderDisplay" select="[cms-header]"></ng-content>
            <ng-content select="[cms-action-header]"></ng-content>
          </div>
          
          <ng-content select="[cms-action-area]"></ng-content>
          <!--end::Header-->
          <hr *ngIf="optionHeaderDisplay||optionActionDisplay">
          <!--begin::Body-->
          <div class="col-12 pe-0" [ngClass]="optionClassBody" #topbody>
            <p class="text-center">
              <app-progress-spinner [options]="loading"> </app-progress-spinner>
              <ng-content select="[cms-body]"></ng-content>
            </p>
          </div>
          <!--end::Body-->
          <!--begin::Footer-->
          <div class="col-12 pe-0" *ngIf="optionFooterDisplay&& !loading?.display">
            <p class="text-center">
              <ng-content select="[cms-message]"></ng-content>
              <ng-content select="[cms-footer]"></ng-content>
            </p>
          </div>
          <!--end::Footer-->
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #contentCmsTree>
  <ng-content select="cms-tree"></ng-content>
</ng-template>


<!--begin::cms-tree-->
<div *ngIf="optionTreeDisplay" class="content"
  style="position: fixed;top: 100px; left: 1px; z-index: 99; min-width: 30px!important;height:30px;margin:0px;">
  <div class="row">
    <div class="col-12">
      <a (click)="actionViewTree()" class="chip chip-s bg-gray-light" style="cursor: pointer;">
        <i class="fa fa-bars bg-green-dark color-white" [style.transform]="viewTree?'rotate(90deg)':'rotate(0deg)'"></i>
        <strong class="color-black font-400">{{optionCategoryTitle}}</strong>
      </a>
    </div>
  </div>
</div>
<!--end::cms-tree-->
<!--begin::cms-action-main-->
<div *ngIf="optionActionDisplay" class="content"
  style="position: fixed;top: 140px; left: 1px; z-index: 99; min-width: 30px!important;height:30px;margin:0px;">
  <div class="row">
    <div class="col-12">
      <a (click)="actionViewMenuMain()" class="chip chip-s bg-gray-light" style="cursor: pointer;">
        <i class="fa fa-bars bg-green-dark color-white"
          [style.transform]="viewMenuMain?'rotate(90deg)':'rotate(0deg)'"></i>
        <strong class="color-black font-400">{{optionTitle}}</strong>
      </a>
    </div>
  </div>
</div>
<!--end::cms-action-main-->
<!--begin::cms-action-row-->
<div *ngIf="optionActionRowDisplay" class="content"
  style="position: fixed;top: 180px; left: 1px; z-index: 99; min-width: 30px!important;height:30px;margin:0px;">
  <div class="row">
    <div class="col-12">
      <a (click)="actionViewMenuItemRow()" class="chip chip-s bg-gray-light" style="cursor: pointer;">
        <i class="fa fa-bars bg-green-dark color-white"
          [style.transform]="viewMenuItemRow?'rotate(90deg)':'rotate(0deg)'"></i>
        <strong class="color-black font-400">{{optionSelectRowItemTitle}}</strong>
      </a>
    </div>
  </div>
</div>
<!--end::cms-action-row-->


<!--begin::Show Tree Main-->
<div *ngIf="optionTreeDisplay " class="menu menu-box-right rounded-0" [ngClass]="viewTree?'menu-active':''">
  <!--begin::tree-->
  <ng-container *ngTemplateOutlet="contentCmsTree"></ng-container>
  <!--end::tree-->
</div>
<!--begin::Show Tree Main-->

<!--begin::Show Menu Main-->
<div class="menu menu-box-modal rounded-m" [ngClass]="viewMenuMain?'menu-active':''"
  style="display: block; width: 350px; height: 320px;">
  <div class="menu-title">
    <p class="color-highlight">منو</p>
    <h1 *ngIf="optionTitle?.length>0">{{optionTitle}}</h1>
    <a (click)="actionViewMenuMain(false)" class="close-menu"><i class="fa fa-times-circle"></i></a>
  </div>
  <div class="divider divider-margins"></div>
  <!--begin::cms-action-->
  <ng-content select="[cms-action]"></ng-content>
  <!--end::cms-action-->
 
</div>
<!--end:: Show Menu Main-->
<!--begin::Show Menu Row-->
<div class="menu menu-box-modal rounded-m" [ngClass]="viewMenuItemRow?'menu-active':''"
  style="display: block; width: 350px; height: 320px;">
  <div class="menu-title">
    <p class="color-highlight">منو ردیف انتخابی</p>
    <h1 *ngIf="optionSelectRowItemTitle?.length>0">{{optionSelectRowItemTitle}}</h1>
    <a (click)="actionViewMenuItemRow(false)" class="close-menu"><i class="fa fa-times-circle"></i></a>
  </div>
  <div class="divider divider-margins"></div>
  <!--begin::cms-action-row-->
  <ng-content select="[cms-action-row]"></ng-content>
  <!--end::cms-action-row-->
</div>
<!--end:: Show Menu Row-->
