<div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
</div>
<div class="ntk-cms-html-card-body">
    <table class="table table-hover" *ngIf="!showFormAdd">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">{{'TITLE.createdBy'|translate}}</th>
                <th scope="col">{{'TITLE.createdDate'|translate}}</th>
                <th scope="col">{{'TITLE.expireDateTime'|translate}}</th>
                <th scope="col">{{'TITLE.showKey'|translate}}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of dataModelResult.listItems ; let i = index">
                <tr class="myDIV">
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{ item.createdBy }}</td>
                    <td>{{ publicHelper.LocaleDateTime(item.createdDate) }}</td>
                    <td>{{ publicHelper.LocaleDateTime(item.expireDateTime) }}</td>
                    <td>{{item.showKey}}</td>
                    <td>{{this.requestContentUrl+'/'+ item.showKey}}</td>
                </tr>
                <tr class="hide">
                    <td></td>
                    <td colspan="4">
                        {{ item.subjectTitle }}
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <form *ngIf="showFormAdd" (ngSubmit)="onFormSubmit()" #vform="ngForm">
        <div class="ntk-cms-html-card-header">
            <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
            {{ formInfo.formTitle }}
            <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
        </div>
        <div class="ntk-cms-html-card-body">
            <app-progress-spinner [options]="loading"> </app-progress-spinner>
            <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
            <!-- SubjectTitle Field -->
            <mat-form-field class="ntk-full-width">
                <mat-label>SubjectTitle</mat-label>
                <input matInput [(ngModel)]="dataModel.subjectTitle" name="dataModel.subjectTitle" #SubjectTitle
                    type="text" placeholder="SubjectTitle" required>
                <mat-icon matSuffix *ngIf="dataModel.subjectTitle" matSuffix mat-icon-button aria-label="Clear"
                    (click)="dataModel.subjectTitle = null">close</mat-icon>
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>


            <!-- Priority Field -->
            <mat-form-field class="ntk-full-width">
                <mat-select placeholder="{{'minLive'|translate}}" [(ngModel)]="dataModel.minLive"
                    name="dataModel.minLive" #Priority="ngModel" panelClass="minLive-{{ dataModel.minLive }}">
                    <mat-option *ngFor="
              let number of numbers;
            " [value]="number">{{ number }}</mat-option>
                </mat-select>
                <mat-hint align="start">
                    <mat-icon matSuffix class="info-field-icon">info</mat-icon>
                    <strong class="info-field-text">{{'MESSAGE.Enter_Time_Duration_In_Minutes' | translate}}</strong>
                </mat-hint>
            </mat-form-field>

            <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
        </div>
        <div class="ntk-cms-html-card-message">
            <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
            <div class="form-actions">
                <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
                <small class="form-text text-muted danger">{{ formInfo.formError }}
                </small>
            </div>
            <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
        </div>
    </form>

</div>
<div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
        <button type="submit" *ngIf="showFormAdd" (click)="onFormSubmit()" class="btn btn-success btn-lg btn-block"
            [disabled]="!formGroup?.valid">
            <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
        </button>
        <button type="button" *ngIf="!showFormAdd" class="btn btn-success btn-lg btn-block"
            (click)="onActionAdd()">{{'ACTION.SHOW_KEY'
            |translate}}</button>
        <button type="button" (click)="onFormCancel()" class="btn btn-light btn-lg btn-block">
            <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
        </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
</div>