<div class="card card-style loader-container">
  <app-progress-spinner [optionsInfoAreaId]="constructorInfoAreaId"> </app-progress-spinner>
  <div class="menu-title">
    <p class="color-highlight">{{ formInfo.formTitle }} </p>
    <a class="close-menu" (click)="onFormCancel()"><i class="fa fa-times-circle"></i></a>
    <hr>
  </div>
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formDescription }}
    </p>
    <!--Content-->
    <div class="ntk-cms-html-card-header" class="theme-rtl">
      <button type="button" *ngIf="!showFormAdd" (click)="onActionAdd()"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-teal">{{'ACTION.ADD'
        |translate}}</button>
    </div>
    <div class="ntk-cms-html-card-body" class="theme-rtl">
      <table class="table table-hover" *ngIf="!showFormAdd">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">{{'TITLE.createdBy'|translate}}</th>
            <th scope="col">{{'TITLE.createdDate'|translate}}</th>
            <th scope="col">{{'TITLE.subjectTitle'|translate}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of dataModelResult.listItems ; let i = index">
            <tr class="myDIV">
              <th scope="row">{{ i+1 }}</th>
              <td>{{ item.createdBy|cmsuserinfo|async }}</td>
              <td>{{ publicHelper.LocaleDateTime(item.createdDate) }}</td>

              <td>
                <small>
                  <mat-icon matTooltip="{{'ACTION.DELETE' | translate}}" matTooltipPosition="before"
                    (click)="DataDeleteContent(item.id)" aria-hidden="false" style="color: red;">delete</mat-icon>
                </small>
              </td>
            </tr>
            <tr class="hide">
              <td></td>

            </tr>
          </ng-container>
        </tbody>
      </table>
      <form (ngSubmit)="onFormSubmit()" *ngIf="showFormAdd" #vform="ngForm">

        <div class="ntk-cms-html-card-body ">

          <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->

          <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
        </div>
        <div class="ntk-cms-html-card-message">
          <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
          <div class="form-actions">
            <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
            <small class="form-text text-muted danger">{{ formInfo.formError }}
            </small>
          </div>
          <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
        </div>

        <br>
        <div class="form-actions" *ngIf="formInfo.formSubmitAllow  ">
          <button type="submit" *ngIf="showFormAdd"
            class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
            [disabled]="!vform.form.valid">
            <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
          </button>

          <button type="button" (click)="onFormCancel()"
            class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
            <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
          </button>
        </div>
      </form>
    </div>
    <div class="ntk-cms-html-card-footer">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

      <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    </div>
    <!--Content-->
  </div>
</div>