<div class="card">
  <div class="card-body d-flex align-items-center py-8">
    <!-- begin::Icon -->
    <div (click)="onActionCopyHeaderKey(keyTemplate,$event)"
      class="col-1 d-flex h-80px  flex-shrink-0 flex-center position-relative">
      <span class="svg-icon svg-icon-primary position-absolute opacity-15"
        [inlineSVG]="'./assets/media/icons/duotune/abstract/abs051.svg'"
        [setSVGAttributes]="{ class: 'h-80px w-80px' }"></span>
      <span *ngIf="(svg && svg.length>0)" class="svg-icon svg-icon-primary position-absolute opacity-15"
        [inlineSVG]="svg" [setSVGAttributes]="{ class: 'h-80px w-80px' }"></span>
      <i *ngIf="icon && icon.length>0" [ngClass]="icon"></i>
      <span *ngIf="icon?.length===0 && svg?.length===0" [inlineSVG]="'./assets/media/icons/duotune/coding/cod009.svg'"
        class="svg-icon svg-icon-3x svg-icon-primary position-absolute"></span>
    </div>
    <!-- end::Icon  -->
    <!-- begin::Description  -->
    <div class="col-10">
      <p class="list-unstyled text-gray-600 fw-bold fs-6 p-0 m-0" [innerHTML]="description">
      </p>
      <br>
      <div *ngIf="bodyShow" [innerHTML]="body"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-18">
          <div class="header" *ngIf="movieSrc && movieSrc?.length>0 && bodyShow">
            <video class="header-video" controls>
              <source src="{{movieSrc }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-112">
          <div *ngIf="podcastSrc && podcastSrc?.length>0 && bodyShow">
            <audio class="audio" controls>
              <source src="{{podcastSrc | cmsthumbnail}}" type="audio/mp3">
              Your browser does not support the audio tag.
            </audio>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1">
      <button type="button" *ngIf="!bodyShow&& (body?.length>0 || podcast>0 || movie>0)"
        class="btn btn-outline-primary box-shadow-button" (click)="onActionBottunClick()">
        {{'TITLE.More' | translate}}
      </button>
      <button type="button" *ngIf="bodyShow" class="btn btn-outline-primary box-shadow-button"
        (click)="onActionCloseBottunClick()">
        {{'TITLE.guide' | translate}}
      </button>
    </div>
    <!-- end::Description  -->
  </div>
</div>
<ng-template #keyTemplate>
  <div style="text-align-last: center;">
    <p>{{this.Key}}</p>
    <button mat-button (click)="onActionCopied()" [cdkCopyToClipboard]="this.Key">Copy</button>
  </div>
</ng-template>