<div class="card card-style">
  <div class="content mb-0">
    <div class="row justify-content-center">
      <div (click)="onActionCopyHeaderKey(keyTemplate,$event)" class="col-2 pe-0">
        <p class="text-center">
          <span *ngIf="(svg && svg.length>0)" class="svg-icon svg-icon-primary position-absolute opacity-15"
            [inlineSVG]="svg" [setSVGAttributes]="{ class: 'h-120px w-120px' }"></span>
        </p>
      </div>
      <div class="col-9">
        <h4 [innerHTML]="description"></h4>
        <p class="mt-n1 line-height-m" [innerHTML]="body">

        </p>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-112">
            <div *ngIf="podcastSrc && podcastSrc?.length>0 && bodyShow">
              <audio class="audio" controls>
                <source src="{{podcastSrc | cmsthumbnail}}" type="audio/mp3">
                Your browser does not support the audio tag.
              </audio>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1">
        <button type="button" *ngIf="!bodyShow&& (body?.length>0 || podcast>0 || movie>0)"
          class="btn font-13 font-600 btn-m m-1 rounded-s shadow-xl border-0 gradient-highlight"
          (click)="onActionBottunClick()">
          {{'TITLE.More' | translate}}
        </button>
        <button type="button" *ngIf="bodyShow"
          class="btn font-13 font-600 btn-m m-1 rounded-s shadow-xl border-0 gradient-highlight"
          (click)="onActionCloseBottunClick()">
          {{'TITLE.guide' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #keyTemplate>
  <div style="text-align-last: center;">
    <p>{{this.Key}}</p>
    <button mat-button (click)="onActionCopied()" [cdkCopyToClipboard]="this.Key">Copy</button>
  </div>
</ng-template>
