<div class="card card-style">
    <div class="content">
        <h5 class="font-14 opacity-50">
            <a routerLink="/estate/property-history/action/add" routerLinkActive="active">{{widgetInfoModel.title}}</a>
            <a routerLink="/estate/property-history" routerLinkActive="active" *ngIf="rowExist"
                class="float-end color-highlight"> {{widgetInfoModel.description}}</a>
        </h5>
        <div class="divider mb-3"></div>
        <div class="list-group list-custom-small list-menu ms-0 me-2">
            <a routerLink="/estate/property-history/recordstatus/Pending" routerLinkActive="active"
                *ngIf="this.modelData.get('Pending') && this.modelData.get('Pending')>0" class="menu-active">
                <i class="fa fa-comment gradient-blue color-white"></i>
                <span>{{'TITLE.Number_of_rows_in_the_recordstatus_pending' | translate}}</span>
                <span class="badge gradient-blue color-white"> {{this.modelData.get('Pending')}}</span>
                <i class="fa fa-angle-left"></i>
            </a>
            <a routerLink="/estate/property-history/recordstatus/Available" routerLinkActive="active"
                *ngIf="this.modelData.get('Available') && this.modelData.get('Available')>0" class="menu-active">
                <i class="fa fa-comment gradient-blue color-white"></i>
                <span> {{'TITLE.Number_of_rows_in_the_recordstatus_available' | translate}}</span>
                <span class="badge gradient-blue color-white"> {{this.modelData.get('Available')}}</span>
                <i class="fa fa-angle-left"></i>
            </a>
            <a routerLink="/estate/property-history/recordstatus/Archive" routerLinkActive="active"
                *ngIf="this.modelData.get('Archive') && this.modelData.get('Archive')>0">
                <i class="fa fa-comment gradient-blue color-white"></i>
                <span> {{'TITLE.Number_of_rows_in_the_recordstatus_archive' | translate}}</span>
                <span class="badge gradient-blue color-white"> {{this.modelData.get('Archive')}}</span>
                <i class="fa fa-angle-left"></i>
            </a>
            <a routerLink="/estate/property-history/recordstatus/Disable" routerLinkActive="active"
                *ngIf="this.modelData.get('Disable') && this.modelData.get('Disable')>0">
                <i class="fa fa-comment gradient-blue color-white"></i>
                <span> {{'TITLE.Number_of_rows_in_the_recordstatus_disable' | translate}}</span>
                <span class="badge gradient-blue color-white"> {{this.modelData.get('Disable')}}
                </span>
                <i class="fa fa-angle-left"></i>
            </a>
        </div>
    </div>
</div>