<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div *ngIf="optionTypeView===1" class="input-style has-borders has-icon  input-style-always-active validate-field mb-4">
  <i class="fa fa-user"></i>
  <input type="text" placeholder="{{optionPlaceholder}}" [attr.disabled]="optionDisabled? true : null"
    aria-label="Assignee" matInput [formControl]="formControl" [matAutocomplete]="matauto" id="forminput"
    [required]="optionRequired">
  <label for="forminput" class="color-highlight">{{optionLabel}}</label>
  <mat-autocomplete #matauto="matAutocomplete" [displayWith]="displayFn"
    (optionSelected)="onActionSelect($event.option.value)">
    <mat-option *ngFor="let state of filteredOptions | async" [value]="state" [disabled]="optionDisabled">
      <span>{{ displayOption(state) }}</span>
    </mat-option>
  </mat-autocomplete>
  <i *ngIf="!formControl.valid" class="fa fa-times  invalid color-red-dark" (click)="onActionSelectClear()"></i>
  <i *ngIf="formControl.valid" class="fa fa-check  valid color-green-dark" (click)="onActionSelectClear()"></i>
  <em *ngIf="optionRequired">(ضروری)</em>
  <ng-content></ng-content>
</div>
<div *ngIf="optionTypeView===2" class="row mb-0">
  <div *ngFor="let state of filteredOptions | async" class="col-xl-2 col-lg-3 col-md-4 col-sm-12 pe-1">
    <a [attr.disabled]="optionDisabled? true : null"
      [ngClass]="state.id===dataModelSelect.id ? 'btn btn-3d btn-m btn-full mb-3 rounded-xl font-700 shadow-s  border-blue-dark bg-blue-light' : 'btn btn-border btn-m btn-full mb-3 rounded-xl font-700 border-blue-dark color-blue-dark bg-theme'"
      (click)="onActionSelect(state)">{{
      displayOption(state) }}</a>
  </div>
  <ng-content></ng-content>
</div>

