<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div *ngIf="optionTypeView===1" class="input-style has-borders has-icon  input-style-always-active validate-field mb-4">
  <i class="fa fa-user"></i>
  <input type="text" placeholder="{{optionPlaceholder}}" [attr.disabled]="optionDisabled? true : null"
    aria-label="Assignee" matInput [formControl]="formControl" [matAutocomplete]="matauto" id="forminput"
    [required]="optionRequired">
  <label for="forminput" class="color-highlight">{{optionLabel}}</label>
  <mat-autocomplete #matauto="matAutocomplete" [displayWith]="displayFn"
    (optionSelected)="onActionSelect($event.option.value)">
    <mat-option *ngFor="let state of filteredOptions | async" [value]="state" [disabled]="optionDisabled">
      <span>{{ displayOption(state) }}</span>
    </mat-option>
  </mat-autocomplete>
  <i *ngIf="!formControl.valid" class="fa fa-times  invalid color-red-dark" (click)="onActionSelectClear()"></i>
  <i *ngIf="formControl.valid" class="fa fa-check  valid color-green-dark" (click)="onActionSelectClear()"></i>
  <em *ngIf="optionRequired">(ضروری)</em>
  <ng-content></ng-content>
</div>

<div *ngIf="optionTypeView===2" style="display: inline-block;">
  <div class="ntk-pull-right" *ngFor="let state of filteredOptions | async">
    <button type="button" [attr.disabled]="optionDisabled? true : null" mat-raised-button
      color="{{state.id===dataModelSelect.id ? 'primary' : 'info'}}" (click)="onActionSelect(state)">{{
      displayOption(state) }}</button>
  </div>
  <ng-content></ng-content>
</div>
