<div *ngIf="optionsData.data.show" class="alert alert-primary">
    <ngx-ntk-query-builder [(ngModel)]="query" [fieldMap]="fieldMap" [language]="lang">
    </ngx-ntk-query-builder>
    <ng-content></ng-content>
    <a *ngIf="submited" class="btn font-13 font-600 btn-m m-1 rounded-s shadow-xl border-0 gradient-highlight"
        style="float: left;" (click)="onActionCopied()" [cdkCopyToClipboard]="this.filters|json">
        <i class="flaticon2-copy"></i>
        <span [ngClass]="showLabel ? 'submited' : ''" class="popuptext" id="myPopup">Copied!</span>
    </a>

    <a *ngIf="allowSaveSearch" href="javascript:void(0)" (click)="onActionSaveRules()" style="float: left;"
    class="btn font-13 font-600 btn-m m-1 rounded-s shadow-xl border-0 gradient-green">{{'ACTION.SAVE'
        | translate}}</a>
    <a *ngIf="allowLoadSearch" href="javascript:void(0)" (click)="onActionLoadRules()" style="float: left;"
        class="btn font-13 font-600 btn-m m-1 rounded-s shadow-xl border-0 gradient-highlight">{{'ACTION.LOAD'
        | translate}}</a>
    <a *ngIf="allowLoadSearch" href="javascript:void(0)" (click)="onActionRemoveRules()" style="float: left;"
        class="btn font-13 font-600 btn-m m-1 rounded-s shadow-xl border-0 gradient-highlight">{{'ACTION.REMOVE'
        | translate}}</a>

    <a href="javascript:void(0)" (click)="onSubmit()"
        class="btn font-13 font-600 btn-m m-1 rounded-s shadow-xl border-0 gradient-highlight">{{'ACTION.SEARCH' |
        translate}}</a>
</div>