<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
    <div class="content mb-0">
      <p class="mb-0 color-highlight font-600 font-12">
        حساب کاربری خود را ویرایش کنید
      </p>
      <h4>اطلاعات</h4>
      <h4>اطلاعات اولیه</h4>
      <p>
        اطلاعات عمومی که در بالای کارت شما در صفحه نمایه شما نشان داده می شود. این
        فقط یک صفحه ساختگی است.
      </p>
      <!--content-->
            <form (ngSubmit)="onFormSubmit()" #vform="ngForm" [ngStyle]="{'direction' : tokenInfo.direction }">
                {{ formInfo.formTitle }}
                <!-- Title Field -->
                <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                    <label for="dataModel.title" class="color-highlight">{{fieldsInfo['title']?.fieldTitle}}</label>
                    <input matInput type="text" [(ngModel)]="dataModel.title" name="dataModel.title" #Title
                     placeholder="{{fieldsInfo['title']?.fieldTitle }}" minlength="3" maxlength="100" required
                     class="form-control validate-name" id="dataModel.title" />
                    <i *ngIf="!Title.value" class="fa fa-times  invalid color-red-dark"></i>
                    <i *ngIf="Title.value" class="fa fa-check  valid color-green-dark"></i>
                    <em>{{ Title.value.length }} / 100</em>
                    <mat-error *ngIf="Title.errors?.required">
                        Title is <strong>{{ "MESSAGE.required" | translate }}</strong>
                    </mat-error>
                </div>
                <!-- titleML Field -->
                <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                    <label for="dataModel.titleML" class="color-highlight">{{fieldsInfo['title']?.fieldTitle}}</label>
                    <input matInput type="text" [(ngModel)]="dataModel.titleML" name="dataModel.titleML" [disabled]="true"
                     class="form-control validate-name" id="dataModel.titleML" />
                </div>
                 <!-- titleResourceLanguage Field -->
                 <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                    <label for="dataModel.titleResourceLanguage" class="color-highlight">{{fieldsInfo['titleResourceLanguage']?.fieldTitle}}</label>
                    <input matInput type="text" [(ngModel)]="dataModel.titleResourceLanguage" name="dataModel.titleResourceLanguage" [disabled]="true" #titleResourceLanguage placeholder="{{fieldsInfo['titleResourceLanguage']?.fieldTitle}}"
                       minlength="1" maxlength="100" required  class="form-control validate-name" id="dataModel.titleResourceLanguage" />
                    <i *ngIf="!titleResourceLanguage.value" class="fa fa-times  invalid color-red-dark"></i>
                    <i *ngIf="titleResourceLanguage.value" class="fa fa-check  valid color-green-dark"></i>
                    <em>{{ titleResourceLanguage.value.length }} / 100</em>
                    <mat-error *ngIf="titleResourceLanguage.errors?.required">
                        titleResourceLanguage is <strong>{{'MESSAGE.required' | translate}}</strong>
                    </mat-error>
                </div>
                <hr>
                 <!-- orderTitle Field -->
                <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                    <label for="dataModel.orderTitle" class="color-highlight">{{fieldsInfo['orderTitle']?.fieldTitle}}</label>    
                    <input matInput type="text" [(ngModel)]="dataModel.orderTitle" name="dataModel.orderTitle" [disabled]="true" #orderTitle placeholder="{{fieldsInfo['orderTitle']?.fieldTitle}}"
                       minlength="3" maxlength="100" required  class="form-control validate-name" id="dataModel.orderTitle" />
                    <i *ngIf="!orderTitle.value" class="fa fa-times  invalid color-red-dark"></i>
                    <i *ngIf="orderTitle.value" class="fa fa-check  valid color-green-dark"></i>
                    <em>{{ orderTitle.value.length }} / 100</em>
                    <mat-error *ngIf="orderTitle.errors?.required">
                        orderTitle is <strong>{{'MESSAGE.required' | translate}}</strong>
                    </mat-error>
                </div>
                <!-- orderTitleML Field -->
                <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                    <label for="dataModel.orderTitleML" class="color-highlight">{{fieldsInfo['title']?.fieldTitle}}</label>    
                    <input matInput type="text" [(ngModel)]="dataModel.orderTitleML" name="dataModel.orderTitleML" [disabled]="true" [disabled]="true"
                     class="form-control validate-name" id="dataModel.orderTitleML" />
                </div>
                <!-- orderTitleResourceLanguage Field -->
                <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                    <label for="dataModel.orderTitleResourceLanguage" class="color-highlight">{{fieldsInfo['orderTitleResourceLanguage']?.fieldTitle}}</label>
                    <input matInput type="text" [(ngModel)]="dataModel.orderTitleResourceLanguage" name="dataModel.orderTitleResourceLanguage" [disabled]="true" #orderTitleResourceLanguage placeholder="{{fieldsInfo['orderTitleResourceLanguage']?. fieldTitle}}"
                       minlength="1" maxlength="100" required  class="form-control validate-name" id="dataModel.orderTitleResourceLanguage" />
                    <i *ngIf="!orderTitleResourceLanguage.value" class="fa fa-times  invalid color-red-dark"></i>
                    <i *ngIf="orderTitleResourceLanguage.value" class="fa fa-check  valid color-green-dark"></i>
                    <em>{{ orderTitleResourceLanguage.value.length }} / 100</em>
                    <mat-error *ngIf="orderTitleResourceLanguage.errors?.required">
                        orderTitleResourceLanguage is <strong>{{'MESSAGE.required' | translate}}</strong>
                    </mat-error>
                </div>
                <!-- TitleSoldIt Field -->
                <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                    <label for="dataModel.titleSoldIt" class="color-highlight">{{fieldsInfo['titleSoldIt']?.fieldTitle}}</label>
                    <input matInput type="text" [(ngModel)]="dataModel.titleSoldIt" name="dataModel.titleSoldIt" #TitleSoldIt placeholder="{{fieldsInfo['titleSoldIt']?.fieldTitle}}"
                       minlength="1" maxlength="100" required class="form-control validate-name" id="dataModel.titleSoldIt" />
                    <i *ngIf="!TitleSoldIt.value" class="fa fa-times  invalid color-red-dark"></i>
                    <i *ngIf="TitleSoldIt.value" class="fa fa-check  valid color-green-dark"></i>
                    <em>{{ TitleSoldIt.value.length }} / 100</em>
                    <mat-error *ngIf="TitleSoldIt.errors?.required">
                        TitleSoldIt is <strong>{{'MESSAGE.required' | translate}}</strong>
                    </mat-error>
                </div>
                <!-- titleSoldItML Field -->
                <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                    <label for="dataModel.titleSoldItML" class="color-highlight">{{fieldsInfo['titleSoldIt']?.fieldTitle}}</label>
                    <input matInput type="text" [(ngModel)]="dataModel.titleSoldItML" name="dataModel.titleSoldItML" #TitleSoldIt [disabled]="true"
                        class="form-control validate-name" id="dataModel.titleSoldItML" />
                </div>
                 <!-- titleSoldItResourceLanguage Field -->
                 <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                    <label for="dataModel.titleSoldItResourceLanguage" class="color-highlight">{{fieldsInfo['titleSoldItResourceLanguage']?.fieldTitle}}</label>
                    <input matInput type="text" [(ngModel)]="dataModel.titleSoldItResourceLanguage" name="dataModel.titleSoldItResourceLanguage" #titleSoldItResourceLanguage placeholder="{{fieldsInfo['titleSoldItResourceLanguage']?.fieldTitle}}"
                       minlength="1" maxlength="100" required class="form-control validate-name" id="dataModel.titleSoldItResourceLanguage" />
                    <i *ngIf="!TitleSoldIt.value" class="fa fa-times  invalid color-red-dark"></i>
                    <i *ngIf="TitleSoldIt.value" class="fa fa-check  valid color-green-dark"></i>
                    <em>{{ titleSoldItResourceLanguage.value.length }} / 100</em>
                    <mat-error *ngIf="titleSoldItResourceLanguage.errors?.required">
                        titleSoldItResourceLanguage is <strong>{{'MESSAGE.required' | translate}}</strong>
                    </mat-error>
                 </div>
                 <!-- allowPriceInquiryCalculate Field -->
                 <div *ngIf="fieldsInfo['allowPriceInquiryCalculate']?.accessWatchField" class="d-flex mb-3">
                    <div class="pt-1">
                     <h5 data-trigger-switch="dataModel.hasPeriodPrice" class="font-600 font-14">
                        {{fieldsInfo['allowPriceInquiryCalculate']?.fieldTitle}}</h5>
                    </div>
                    <div class="ms-auto me-3 pe-2">
                     <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.allowPriceInquiryCalculate"
                        [(ngModel)]="this.dataModel.allowPriceInquiryCalculate" name="dataModel.allowPriceInquiryCalculate">
                        <label class="custom-control-label" for="dataModel.allowPriceInquiryCalculate"></label>
                     </div>
                    </div>
                 </div>
                <!-- HasSalePrice Field -->
                <div *ngIf="fieldsInfo['hasSalePrice']?.accessWatchField" class="d-flex mb-3">
                    <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.hasPeriodPrice" class="font-600 font-14">
                        {{fieldsInfo['hasSalePrice']?.fieldTitle}}</h5>
                    </div>
                    <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.hasSalePrice"
                        [(ngModel)]="this.dataModel.hasSalePrice" name="dataModel.hasSalePrice">
                        <label class="custom-control-label" for="dataModel.hasSalePrice"></label>
                    </div>
                    </div>
                </div>
                <!-- HasRentPrice Field -->
                <div *ngIf="fieldsInfo['hasRentPrice']?.accessWatchField" class="d-flex mb-3">
                    <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.hasPeriodPrice" class="font-600 font-14">
                        {{fieldsInfo['hasRentPrice']?.fieldTitle}}</h5>
                    </div>
                    <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.hasRentPrice"
                        [(ngModel)]="this.dataModel.hasRentPrice" name="dataModel.hasRentPrice">
                        <label class="custom-control-label" for="dataModel.hasRentPrice"></label>
                    </div>
                    </div>
                </div>
                <!-- HasDepositPrice Field -->
                <div *ngIf="fieldsInfo['hasDepositPrice']?.accessWatchField" class="d-flex mb-3">
                    <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.hasPeriodPrice" class="font-600 font-14">
                        {{fieldsInfo['hasDepositPrice']?.fieldTitle}}</h5>
                    </div>
                    <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.hasDepositPrice"
                        [(ngModel)]="this.dataModel.hasDepositPrice" name="dataModel.hasDepositPrice">
                        <label class="custom-control-label" for="dataModel.hasDepositPrice"></label>
                    </div>
                    </div>
                </div>
                 <!-- HasPeriodPrice Field -->
                 <div *ngIf="fieldsInfo['hasPeriodPrice']?.accessWatchField" class="d-flex mb-3">
                    <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.hasPeriodPrice" class="font-600 font-14">
                        {{fieldsInfo['hasPeriodPrice']?.fieldTitle}}</h5>
                    </div>
                    <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.hasPeriodPrice"
                        [(ngModel)]="this.dataModel.hasPeriodPrice" name="dataModel.hasPeriodPrice">
                        <label class="custom-control-label" for="dataModel.hasPeriodPrice"></label>
                    </div>
                    </div>
                </div>
                <!-- Description Field -->
                <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                    <label for="dataModel.description" class="color-highlight">{{fieldsInfo['description']?.fieldTitle}}</label>
                    <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
                     placeholder="{{ fieldsInfo['description']?.fieldTitle }}" minlength="1" maxlength="500" rows="5"
                     id="dataModel.description" class="form-control validate-name"></textarea>
                    <em>{{ Description.value.length }} / 500</em>
                    <mat-error *ngIf="Description.errors?.required">
                        Description is <strong>{{'MESSAGE.required' | translate}}</strong>
                    </mat-error>
                </div>
                <hr *ngIf="dataModel.hasSalePrice">
                <!-- SalePriceAllowAgreement Field -->
                <div *ngIf="fieldsInfo['salePriceAllowAgreement']?.accessWatchField" class="d-flex mb-3">
                    <div class="pt-1">
                     <h5 data-trigger-switch="dataModel.salePriceAllowAgreement" class="font-600 font-14">
                        {{fieldsInfo['salePriceAllowAgreement']?.fieldTitle}}</h5>
                    </div>
                    <div class="ms-auto me-3 pe-2">
                     <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.salePriceAllowAgreement"
                        [(ngModel)]="this.dataModel.salePriceAllowAgreement" name="dataModel.salePriceAllowAgreement">
                        <label class="custom-control-label" for="dataModel.salePriceAllowAgreement"></label>
                     </div>
                    </div>
                </div>
                 <!-- TitleSalePrice Field -->






            </form>

      <!--content-->
    </div>
</div>
<form (ngSubmit)="onFormSubmit()" #vform="ngForm" [ngStyle]="{'direction' : tokenInfo.direction }">
    <div class="ntk-cms-html-card-body">
        <!-- TitleSalePrice Field -->
        <mat-form-field class="ntk-full-width" *ngIf="dataModel.hasSalePrice">
            <mat-label>{{fieldsInfo['titleSalePrice']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.titleSalePrice" name="dataModel.titleSalePrice" #TitleSalePrice
                type="text" placeholder="{{fieldsInfo['titleSalePrice']?.fieldTitle}}" minlength="1" maxlength="100" />
            <mat-icon matSuffix *ngIf="dataModel.titleSalePrice" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.titleSalePrice = ''">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint align="end">{{ TitleSalePrice.value.length }} / 100</mat-hint>
        </mat-form-field>
        <!-- titleSalePriceML Field -->
        <mat-form-field class="ntk-full-width">
            <mat-label> {{fieldsInfo['titleSalePrice']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.titleSalePriceML" name="dataModel.titleSalePriceML" type="text"
                [disabled]="true" />
        </mat-form-field>
        <!-- titleSalePriceResourceLanguage Field -->
        <mat-form-field class="ntk-full-width" *ngIf="dataModel.hasSalePrice">
            <mat-label>{{fieldsInfo['titleSalePriceResourceLanguage']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.titleSalePriceResourceLanguage"
                name="dataModel.titleSalePriceResourceLanguage" #titleSalePriceResourceLanguage type="text"
                placeholder="{{fieldsInfo['titleSalePriceResourceLanguage']?.fieldTitle}}" minlength="1"
                maxlength="100" />
            <mat-icon matSuffix *ngIf="dataModel.titleSalePriceResourceLanguage" matSuffix mat-icon-button
                aria-label="Clear" (click)="dataModel.titleSalePriceResourceLanguage = ''">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint align="end">{{ titleSalePriceResourceLanguage.value.length }} / 100</mat-hint>

        </mat-form-field>





        <hr *ngIf="dataModel.hasRentPrice">

        <div class="ntk-full-width" *ngIf="dataModel.hasRentPrice">
            <!-- RentPriceAllowAgreement Field -->
            <mat-slide-toggle [(ngModel)]="dataModel.rentPriceAllowAgreement"
                *ngIf="fieldsInfo['rentPriceAllowAgreement']?.accessWatchField"
                [disabled]="!fieldsInfo['rentPriceAllowAgreement']?.accessEditField"
                name="dataModel.rentPriceAllowAgreement">
                {{fieldsInfo['rentPriceAllowAgreement']?.fieldTitle}}
            </mat-slide-toggle>
        </div>
        <!-- TitleRentPrice Field -->
        <mat-form-field class="ntk-full-width" *ngIf="dataModel.hasRentPrice">
            <mat-label>{{fieldsInfo['titleRentPrice']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.titleRentPrice" name="dataModel.titleRentPrice" #TitleRentPrice
                type="text" placeholder="{{fieldsInfo['titleRentPrice']?.fieldTitle}}" minlength="1" maxlength="100" />
            <mat-icon matSuffix *ngIf="dataModel.titleRentPrice" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.titleRentPrice = ''">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint align="end">{{ TitleRentPrice.value.length }} / 100</mat-hint>

        </mat-form-field>
        <!-- TitleRentPriceML Field -->
        <mat-form-field class="ntk-full-width">
            <mat-label> {{fieldsInfo['titleRentPrice']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.titleRentPriceML" name="dataModel.titleRentPriceML" type="text"
                [disabled]="true" />
        </mat-form-field>
        <!-- titleRentPriceResourceLanguage Field -->
        <mat-form-field class="ntk-full-width" *ngIf="dataModel.hasRentPrice">
            <mat-label>{{fieldsInfo['titleRentPriceResourceLanguage']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.titleRentPriceResourceLanguage"
                name="dataModel.titleRentPriceResourceLanguage" #titleRentPriceResourceLanguage type="text"
                placeholder="{{fieldsInfo['titleRentPriceResourceLanguage']?.fieldTitle}}" minlength="1"
                maxlength="100" />
            <mat-icon matSuffix *ngIf="dataModel.titleRentPriceResourceLanguage" matSuffix mat-icon-button
                aria-label="Clear" (click)="dataModel.titleRentPriceResourceLanguage = ''">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint align="end">{{ titleRentPriceResourceLanguage.value.length }} / 100</mat-hint>

        </mat-form-field>
        <!-- hasRentPrice Field -->
        <mat-form-field class="ntk-full-width" *ngIf="dataModel.hasRentPrice">
            <mat-label>{{fieldsInfo['rentPricePriodTitle']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.rentPricePriodTitle" name="dataModel.rentPricePriodTitle"
                #rentPricePriodTitle type="text" placeholder="{{fieldsInfo['rentPricePriodTitle']?.fieldTitle}}"
                minlength="1" maxlength="100" />
            <mat-icon matSuffix *ngIf="dataModel.rentPricePriodTitle" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.rentPricePriodTitle = ''">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint align="end">{{ rentPricePriodTitle.value.length }} / 100</mat-hint>

        </mat-form-field>
        <!-- rentPricePriodTitleResourceLanguage Field -->
        <mat-form-field class="ntk-full-width">
            <mat-label> {{fieldsInfo['rentPricePriodTitle']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.rentPricePriodTitleML" name="dataModel.rentPricePriodTitleML"
                type="text" [disabled]="true" />
        </mat-form-field>
        <!-- rentPricePriodTitleResourceLanguage Field -->
        <mat-form-field class="ntk-full-width" *ngIf="dataModel.hasRentPrice">
            <mat-label>{{fieldsInfo['rentPricePriodTitleResourceLanguage']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.rentPricePriodTitleResourceLanguage"
                name="dataModel.rentPricePriodTitleResourceLanguage" #rentPricePriodTitleResourceLanguage type="text"
                placeholder="{{fieldsInfo[RrentPricePriodTitleResourceLanguage']?.fieldTitle}}" minlength="1"
                maxlength="100" />
            <mat-icon matSuffix *ngIf="dataModel.rentPricePriodTitleResourceLanguage" matSuffix mat-icon-button
                aria-label="Clear" (click)="dataModel.rentPricePriodTitleResourceLanguage = ''">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint align="end">{{ rentPricePriodTitleResourceLanguage.value.length }} / 100</mat-hint>

        </mat-form-field>



        <hr *ngIf="dataModel.hasDepositPrice">
        <div class="ntk-full-width" *ngIf="dataModel.hasDepositPrice">
            <!-- DepositPriceAllowAgreement Field -->
            <mat-slide-toggle [(ngModel)]="dataModel.depositPriceAllowAgreement"
                *ngIf="fieldsInfo['depositPriceAllowAgreement']?.accessWatchField"
                [disabled]="!fieldsInfo['depositPriceAllowAgreement']?.accessEditField"
                name="dataModel.depositPriceAllowAgreement">
                {{fieldsInfo['depositPriceAllowAgreement']?.fieldTitle}}
            </mat-slide-toggle>
        </div>
        <!-- TitleDepositPrice Field -->
        <mat-form-field class="ntk-full-width" *ngIf="dataModel.hasDepositPrice">
            <mat-label>{{fieldsInfo['titleDepositPrice']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.titleDepositPrice" name="dataModel.titleDepositPrice"
                #TitleDepositPrice type="text" placeholder="{{fieldsInfo['titleDepositPrice']?.fieldTitle}}"
                minlength="1" maxlength="100" />
            <mat-icon matSuffix *ngIf="dataModel.titleDepositPrice" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.titleDepositPrice = ''">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint align="end">{{ TitleDepositPrice.value.length }} / 100</mat-hint>

        </mat-form-field>
        <!-- titleDepositPriceML Field -->
        <mat-form-field class="ntk-full-width">
            <mat-label> {{fieldsInfo['titleDepositPriceML']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.titleDepositPriceML" name="dataModel.titleDepositPriceML" type="text"
                [disabled]="true" />
        </mat-form-field>
        <!-- titleDepositPriceResourceLanguage Field -->
        <mat-form-field class="ntk-full-width" *ngIf="dataModel.hasDepositPrice">
            <mat-label>{{fieldsInfo['titleDepositPriceResourceLanguage']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.titleDepositPriceResourceLanguage"
                name="dataModel.titleDepositPriceResourceLanguage" #titleDepositPriceResourceLanguage type="text"
                placeholder="{{fieldsInfo['titleDepositPriceResourceLanguage']?.fieldTitle}}" minlength="1"
                maxlength="100" />
            <mat-icon matSuffix *ngIf="dataModel.titleDepositPriceResourceLanguage" matSuffix mat-icon-button
                aria-label="Clear" (click)="dataModel.titleDepositPriceResourceLanguage = ''">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint align="end">{{ titleDepositPriceResourceLanguage.value.length }} / 100</mat-hint>

        </mat-form-field>

        <hr *ngIf="dataModel.hasPeriodPrice">
        <div class="ntk-full-width" *ngIf="dataModel.hasPeriodPrice">
            <!-- PeriodPriceAllowAgreement Field -->
            <mat-slide-toggle [(ngModel)]="dataModel.periodPriceAllowAgreement"
                *ngIf="fieldsInfo['periodPriceAllowAgreement']?.accessWatchField"
                [disabled]="!fieldsInfo['periodPriceAllowAgreement']?.accessEditField"
                name="dataModel.periodPriceAllowAgreement">
                {{fieldsInfo['periodPriceAllowAgreement']?.fieldTitle}}
            </mat-slide-toggle>
        </div>
        <!-- TitlePeriodPrice Field -->
        <mat-form-field class="ntk-full-width" *ngIf="dataModel.hasPeriodPrice">
            <mat-label>{{fieldsInfo['titlePeriodPrice']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.titlePeriodPrice" name="dataModel.titlePeriodPrice" #TitlePeriodPrice
                type="text" placeholder="{{fieldsInfo['titlePeriodPrice']?.fieldTitle}}" minlength="1"
                maxlength="100" />
            <mat-icon matSuffix *ngIf="dataModel.titlePeriodPrice" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.titlePeriodPrice = ''">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint align="end">{{ TitlePeriodPrice.value.length }} / 100</mat-hint>

        </mat-form-field>
        <!-- titlePeriodPriceML Field -->
        <mat-form-field class="ntk-full-width">
            <mat-label> {{fieldsInfo['titlePeriodPrice']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.titlePeriodPriceML" name="dataModel.titlePeriodPriceML" type="text"
                [disabled]="true" />
        </mat-form-field>
        <!-- titlePeriodPriceResourceLanguage Field -->
        <mat-form-field class="ntk-full-width" *ngIf="dataModel.hasPeriodPrice">
            <mat-label>{{fieldsInfo['titlePeriodPriceResourceLanguage']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.titlePeriodPriceResourceLanguage"
                name="dataModel.titlePeriodPriceResourceLanguage" #titlePeriodPriceResourceLanguage type="text"
                placeholder="{{fieldsInfo['titlePeriodPriceResourceLanguage']?.fieldTitle}}" minlength="1"
                maxlength="100" />
            <mat-icon matSuffix *ngIf="dataModel.titlePeriodPriceResourceLanguage" matSuffix mat-icon-button
                aria-label="Clear" (click)="dataModel.titlePeriodPriceResourceLanguage = ''">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint align="end">{{ titlePeriodPriceResourceLanguage.value.length }} / 100</mat-hint>

        </mat-form-field>
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
    </div>
    <div class="ntk-cms-html-card-message">
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
        <div class="form-actions">
            <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
            <small class="form-text text-muted danger">{{ formInfo.formError }}
            </small>
        </div>
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
    </div>
    <div class="ntk-cms-html-card-footer">
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
        <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
            <button type="button" (click)="onFormCancel()" class="btn font-13 font-600 btn-m m-1 rounded-s shadow-xl border-0 gradient-gray">
                <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
            </button>
            <button type="submit" mat-raised-button (click)="onFormSubmit()" [disabled]="!vform.form.valid">
                <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
            </button>
        </div>
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    </div>
</form>
