<div class="card card-style loader-container">
  <app-progress-spinner [optionsInfoAreaId]="constructorInfoAreaId"> </app-progress-spinner>
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>


    <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
    <!--content-->
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm">
      <!-- RecordStatus Field -->
      <app-cms-enum-record-status-selector *ngIf="fieldsInfo['recordStatus']?.accessWatchField"
        [(model)]="dataModel.recordStatus" [optionDisabled]="false"
        [optionLabel]="this.fieldsInfo['recordStatus']?.fieldTitle" [optionRequired]="true"
        [optionSelectFirstItem]="true"></app-cms-enum-record-status-selector>



      <!-- LinkApiPathId Field -->
      <app-sms-apipath-selector (optionChange)="onActionSelectorSelectLinkApiPathId($event)"
        [optionSelectForce]="dataModel.linkApiPathId" [optionPlaceholder]="'TITLE.Direction' | translate">
      </app-sms-apipath-selector>
      <!-- LinkCoreUserId Field -->
      <app-cms-user-selector (optionChange)="onActionSelectorCmsUser($event)"
        [optionDisabled]="!fieldsInfo['linkCoreUserId']?.accessAddField" [optionSelectForce]="dataModel.linkCoreUserId"
        [optionPlaceholder]="'TITLE.USER' | translate">
      </app-cms-user-selector>
      <!-- LinkCoreSiteId Field -->
      <app-cms-site-selector (optionChange)="onActionSelectorCmsSite($event)"
        [optionDisabled]="!fieldsInfo['linkCoreSiteId']?.accessAddField" [optionSelectForce]="dataModel.linkCoreSiteId"
        [optionPlaceholder]="'TITLE.SITE' | translate">
      </app-cms-site-selector>
      <!-- LinkCoreUserGroupId Field -->
      <app-cms-usergroup-selector (optionChange)="onActionSelectorCoreUserGroup($event)"
        [optionDisabled]="!fieldsInfo['linkCoreUserGroupId']?.accessAddField"
        [optionSelectForce]="dataModel.linkCoreUserGroupId" [optionPlaceholder]="'TITLE.Type_Usage' | translate">
      </app-cms-usergroup-selector>
      <!-- LinkCoreSiteCategoryId Field -->
      <app-cms-sitecategory-selector (optionChange)="onActionSelectorCoreSiteCategory($event)"
        [optionDisabled]="!fieldsInfo['linkCoreSiteCategoryId']?.accessAddField"
        [optionSelectForce]="dataModel.linkCoreSiteCategoryId" [optionPlaceholder]="'TITLE.Site_Type' | translate">
      </app-cms-sitecategory-selector>
      <!-- servicePricePerPage Field -->
      <div *ngIf="fieldsInfo['servicePricePerPage']?.accessWatchField"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.servicePricePerPage" class="color-highlight">{{
          fieldsInfo["servicePricePerPage"]?.fieldTitle
          }}</label>
        <input matInput type="number" [(ngModel)]="dataModel.servicePricePerPage" name="dataModel.servicePricePerPage"
          #servicePricePerPage placeholder="0" [disabled]="!fieldsInfo['servicePricePerPage']?.accessEditField"
          class="form-control validate-name" id="dataModel.servicePricePerPage" />
      </div>
      <!-- endUserPricePerPage Field -->
      <div *ngIf="fieldsInfo['endUserPricePerPage']?.accessWatchField"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.endUserPricePerPage" class="color-highlight">{{
          fieldsInfo["endUserPricePerPage"]?.fieldTitle
          }}</label>
        <input matInput type="number" [(ngModel)]="dataModel.endUserPricePerPage" name="dataModel.endUserPricePerPage"
          #endUserPricePerPage placeholder="0" [disabled]="!fieldsInfo['endUserPricePerPage']?.accessEditField"
          class="form-control validate-name" id="dataModel.endUserPricePerPage" />
      </div>
      <!-- regulatorNumberList Field -->
      <mat-form-field style="width:100%" appearance="fill">
        <mat-label>پیش شماره های قابل قبول</mat-label>
        <mat-chip-grid #chipListRegulatorNumberList aria-label="'TITLE.key_word'|translate">
          <mat-chip *ngFor="let item of  dataModel.regulatorNumberList" (removed)="removeTagRegulatorNumberList(item)">
            <span class="input-ltr">{{item}}</span>
            <button type="button" matChipRemove
              class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input [placeholder]="'TITLE.key_word'|translate" #tagInput [matChipInputAddOnBlur]="addOnBlurTag"
            [matChipInputFor]="chipListRegulatorNumberList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addTagRegulatorNumberList($event)">
        </mat-chip-grid>
      </mat-form-field>
      <div>
        پیش شماره ها
        <br>
        <div *ngFor="let itemPage of dataModel.regulatorNumberList ; index as i">
          {{itemPage}}
        </div>
      </div>

      <!-- serviceMessageLengthPaginationList Field -->
      <mat-form-field style="width:100%" appearance="fill">
        <mat-label>صفحه بندی سرویس دهنده</mat-label>
        <mat-chip-grid #chipListServicePagination aria-label="'TITLE.key_word'|translate">
          <mat-chip *ngFor="let item of  dataModel.serviceMessageLengthPaginationList"
            (removed)="removeTagServicePagination(item)">
            {{item}}
            <button type="button" matChipRemove
              class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input [placeholder]="'TITLE.key_word'|translate" #tagInput [matChipInputAddOnBlur]="addOnBlurTag"
            [matChipInputFor]="chipListServicePagination" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addTagServicePagination($event)">
        </mat-chip-grid>
      </mat-form-field>
      <div>
        صفحه بندی سرویس دهنده

        <br>
        <div *ngFor="let itemPage of dataModel.serviceMessageLengthPaginationList ; index as i">
          {{itemPage}}
        </div>

      </div>
      <!-- endUserMessageLengthPaginationList Field -->
      <mat-form-field style="width:100%" appearance="fill">
        <mat-label>صفحه بندی سرویس دهنده</mat-label>
        <mat-chip-grid #chipListEndUserPagination aria-label="'TITLE.key_word'|translate">
          <mat-chip *ngFor="let item of  dataModel.endUserMessageLengthPaginationList"
            (removed)="removeTagEndUserPagination(item)">
            {{item}}
            <button type="button" matChipRemove
              class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input [placeholder]="'TITLE.key_word'|translate" #tagInput [matChipInputAddOnBlur]="addOnBlurTag"
            [matChipInputFor]="chipListEndUserPagination" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addTagEndUserPagination($event)">
        </mat-chip-grid>
      </mat-form-field>
      <div>
        صفحه بندی سرویس گیرنده
        <br>
        <div *ngFor="let itemPage of dataModel.endUserMessageLengthPaginationList ; index as i">
          {{itemPage}}
        </div>
      </div>

      <!-- MessageType Field -->
      <app-cms-enum-x-selector *ngIf="fieldsInfo['messageType']?.accessWatchField"
        [optionDataListResult]="dataModelSmsMessageTypeEnumResult" [(model)]="dataModel.messageType"
        [optionDisabled]="false" [optionLabel]="this.fieldsInfo['messageType']?.fieldTitle" [optionRequired]="true"
        [optionSelectFirstItem]="true"></app-cms-enum-x-selector>

      <!-- OutBoxType Field -->
      <app-cms-enum-x-selectionlist *ngIf="fieldsInfo['outBoxType']?.accessWatchField"
        [optionDataListResult]="dataModelSmsOutBoxTypeEnumResult" [(model)]="dataModel.outBoxTypeList"
        [optionDisabled]="false" [optionLabel]="this.fieldsInfo['outBoxType']?.fieldTitle" [optionRequired]="true"
        [optionSelectFirstItem]="true"></app-cms-enum-x-selectionlist>

      <div class="form-actions" *ngIf="formInfo.formSubmitAllow  ">
        <button type="button" (click)="onFormCancel()"
          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
          <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
        </button>
        <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
          [disabled]="!vform.form.valid">
          <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
        </button>
      </div>
    </form>
    <!--content-->
  </div>
</div>