<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      حساب کاربری خود را ویرایش کنید
    </p>
    <h4>اطلاعات</h4>
    <h4>اطلاعات اولیه</h4>
    <p>
      اطلاعات عمومی که در بالای کارت شما در صفحه نمایه شما نشان داده می شود. این
      فقط یک صفحه ساختگی است.
    </p>
  </div>
</div>
<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <app-cms-enum-record-status-selector [(model)]="dataModel.recordStatus" [optionDisabled]="false"
      [optionLabel]="this.fieldsInfo['recordStatus']?.fieldTitle" [optionRequired]="true"
      [optionSelectFirstItem]="true"></app-cms-enum-record-status-selector>
    <!-- Title Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['title']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
        placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="3" maxlength="100" required />
      <mat-icon matSuffix *ngIf="dataModel.title" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.title = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
      <mat-error *ngIf="Title.errors?.required">
        Title is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- Username Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['username']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.username" name="dataModel.username" #Username type="text" class="input-ltr"
        placeholder="{{fieldsInfo['username']?.fieldTitle}}" minlength="3" maxlength="100" required />
      <mat-icon matSuffix *ngIf="dataModel.username" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.username = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Username.value.length }} / 100</mat-hint>
      <mat-error *ngIf="Username.errors?.required">
        Username is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!-- BotToken Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['botToken']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.botToken" name="dataModel.botToken" #BotToken type="text" class="input-ltr"
        placeholder="{{fieldsInfo['botToken']?.fieldTitle}}" minlength="3" maxlength="100" required />
      <mat-icon matSuffix *ngIf="dataModel.botToken" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.botToken = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ BotToken.value.length }} / 100</mat-hint>
      <mat-error *ngIf="BotToken.errors?.required">
        BotToken is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!-- SecurityKey Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['securityKey']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.securityKey" name="dataModel.securityKey" #SecurityKey type="text"
        class="input-ltr" placeholder="{{fieldsInfo['securityKey']?.fieldTitle}}" minlength="3" maxlength="100"
        required />
      <mat-icon matSuffix *ngIf="dataModel.securityKey" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.securityKey = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ SecurityKey.value.length }} / 100</mat-hint>
      <mat-error *ngIf="SecurityKey.errors?.required">
        SecurityKey is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>


    <!-- UrlWebhook Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['urlWebhook']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.urlWebhook" name="dataModel.urlWebhook" #UrlWebhook type="text"
        class="input-ltr" placeholder="{{fieldsInfo['urlWebhook']?.fieldTitle}}" minlength="3" maxlength="100"
        required />
      <mat-icon matSuffix *ngIf="dataModel.urlWebhook" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.urlWebhook = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ UrlWebhook.value.length }} / 100</mat-hint>
      <mat-error *ngIf="UrlWebhook.errors?.required">
        UrlWebhook is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- StatusWebhook Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.statusWebhook" *ngIf="fieldsInfo['statusWebhook']?.accessWatchField"
        [disabled]="!fieldsInfo['statusWebhook']?.accessEditField" name="dataModel.statusWebhook">
        {{fieldsInfo['statusWebhook']?.fieldTitle}}
      </mat-slide-toggle>
    </div>


    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
      <button type="button" (click)="onFormCancel()"
        class="btn font-13 font-600 btn-m m-1 rounded-s shadow-xl border-0 gradient-gray">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button (click)="onActionbuttonGetMeAsync()" type="button"
        class="btn font-13 font-600 btn-m m-1 rounded-s shadow-xl border-0 gradient-highlight">{{'ACTION.GetMeAsync' |
        translate}}</button>
      <button (click)="onActionbuttonSetWebhookAsync()" type="button"
        class="btn font-13 font-600 btn-m m-1 rounded-s shadow-xl border-0 gradient-highlight">{{'ACTION.SetWebhookAsync'
        | translate}}</button>
      <button (click)="onActionbuttonSetWebhookAsyncEmpty()" type="button"
        class="btn font-13 font-600 btn-m m-1 rounded-s shadow-xl border-0 gradient-highlight">{{'ACTION.SetWebhookAsyncEmpty'
        | translate}}</button>
      <button type="submit" class="btn font-13 font-600 btn-m m-1 rounded-s shadow-xl border-0 gradient-green"
        (click)="onFormSubmit()" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>