<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
    <div class="ntk-cms-html-card-header">
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
        {{ formInfo.formTitle }}
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
    </div>
    <div class="ntk-cms-html-card-body">
        <app-progress-spinner [options]="loading"> </app-progress-spinner>
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->

        <mat-form-field class="ntk-full-width">
            <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
                name="dataModel.recordStatus" #RecordStatus="ngModel"
                ngClass="cms-RecordStatusEnum-selector-{{ dataModel.recordStatus }}" required>
                <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.listItems;
                index as i
              " [value]="item.value">{{ item.description }}</mat-option>
            </mat-select>
            <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
            <mat-error *ngIf="RecordStatus.errors?.required">
                RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
            </mat-error>
        </mat-form-field>

        <!-- ModuleName Field -->
        <mat-form-field class="ntk-full-width">
            <mat-label>ModuleName</mat-label>
            <input matInput [(ngModel)]="dataModel.moduleName" name="dataModel.moduleName" #ModuleName type="text"
                placeholder="ModuleName" />
            <mat-icon matSuffix *ngIf="dataModel.moduleName" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.moduleName = ''">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <!-- ModuleEntityName Field -->
        <mat-form-field class="ntk-full-width">
            <mat-label>ModuleEntityName</mat-label>
            <input matInput [(ngModel)]="dataModel.moduleEntityName" name="dataModel.moduleEntityName" #ModuleEntityName
                type="text" placeholder="ModuleEntityName" />
            <mat-icon matSuffix *ngIf="dataModel.moduleEntityName" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.moduleEntityName = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <!-- showKey Field -->
        <mat-form-field class="ntk-full-width">
            <mat-label>showKey</mat-label>
            <textarea matInput [(ngModel)]="dataModel.showKey" name="dataModel.showKey" #showKey type="text"
                placeholder="showKey"></textarea>
            <mat-icon matSuffix *ngIf="dataModel.showKey" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.showKey = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <!-- SubjectTitle Field -->
        <mat-form-field class="ntk-full-width">
            <mat-label>SubjectTitle</mat-label>
            <textarea matInput [(ngModel)]="dataModel.subjectTitle" name="dataModel.subjectTitle" #SubjectTitle
                type="text" placeholder="SubjectTitle"></textarea>
            <mat-icon matSuffix *ngIf="dataModel.subjectTitle" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.subjectTitle = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <!-- expireDateTime Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['expireDateTime']?.accessWatchField">
            <mat-label>{{fieldsInfo['expireDateTime']?.fieldTitle}}</mat-label>
            <input matInput [matDatepicker]="expireDateTime" [(ngModel)]="dataModel.expireDateTime"
                name="dataModel.expireDateTime" />
            <mat-icon matSuffix *ngIf="dataModel.expireDateTime && fieldsInfo['expireDateTime']?.accessAddField"
                matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.expireDateTime = null">close</mat-icon>
            <mat-datepicker-toggle matSuffix [for]="expireDateTime"></mat-datepicker-toggle>
            <mat-datepicker touchUi #expireDateTime></mat-datepicker>
        </mat-form-field>
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
    </div>
    <div class="ntk-cms-html-card-message">
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
        <div class="form-actions">
            <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
            <small class="form-text text-muted danger">{{ formInfo.formError }}
            </small>
        </div>
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
    </div>
    <div class="ntk-cms-html-card-footer">
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
        <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
            <button type="button" (click)="onFormCancel()" class="btn btn-light">
                <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
            </button>
            <button type="submit" mat-raised-button (click)="onFormSubmit()" [disabled]="!vform.form.valid">
                <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
            </button>
        </div>
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    </div>

</form>
